{% extends 'flask_user/emails/base_message.html' %}

{% block message %}

<p>Thanks for registering with WhereFare!</p>

{% if user_manager.enable_confirm_email %}
<p>Visit the link below to complete your registration:</p>

{# This is sort of a hack to get a url param here from the request;
   the request would not even be defined if this were sent outside of a request context #}
<p><a href="{{ confirm_email_link }}?next={{ url_quote_plus(request.args.get('next', '')) }}">
  Confirm your email address
</a></p>

<p>If you didn't sign up for WhereFare, you may safely ignore this email.</p>
{% endif %}

{% endblock %}
