html, body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito';
  background-color: #fff;
  color: #000;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #2D73A0;
}

.dropdown-menu.right-bottom-dropdown-menu { /* DUPE */
  left: auto;
  right: 0px;
  top: auto;
  bottom: 100%;
  text-align: left;
}

.full-spinner {
  background-image: url('/static/img/spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.upper-panel {
  background-color: #ebecec;
  padding: 1px 0 20px 0;
}

.intro-text {
  margin: 10px;
  font-size: 1.2em;
}

.one-entity-clipper {
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  background-color: #777;
  margin: 10px;
  position: relative;
}

.one-entity-clipper .main-row {
  height: 100px;
}

.one-entity-clipper .img-container {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 0;
  margin: 0;
}

.one-entity-clipper .img-container img {
  height: 100%;
}

.one-entity-clipper .details-container {
  height: 100%;
  padding: 0;
}

.one-entity-clipper .main-details {
  height: 100%;
  padding: 8px;
  background-color: #fff;
}

.one-entity-clipper .title {
  font-size: 1em;
}

.one-entity-clipper .note-control {
  position: absolute;
  bottom: 0;
}

.one-entity-clipper .note-control a {
  color: #666;
}

.one-entity-clipper .edit-close-control {
  position: absolute;
  bottom: 0;
  left: 25%;
}

.one-entity-clipper .main-controls {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 1.1em;
}

.one-entity-clipper .expanded-row {
  background-color: #f3f4f4;
  border-top: 1px solid #cdcdcd;
  padding: 5px;
  font-size: 1.0em;
  color: #000;
}

.one-entity-clipper .note-input {
  height: 100px;
}

.one-entity-clipper .location-editor {
  width: 100%;
}

.one-entity-clipper .location-editor input {
  margin-bottom: 10px;
}

.one-entity-clipper .map-container {
  width: 100%;
  height: 250px;
}

.one-entity-clipper .map {
  width: 100%;
  height: 100%;
}

.one-entity-clipper .photo-editor {
  width: 100%;
}

.one-entity-clipper .photo-editor .photo-carousel {
  width: 100%;
  height: 150px;
  text-align: center;
  margin: 10px 0;
  position: relative;
}

.one-entity-clipper .photo-carousel .carousel-img-container {
  width: calc(100% - 30px);
  height: 100%;
  position: relative;
  display: inline-block;
}

.one-entity-clipper .carousel-img-container .img-overlay-control {
  position: absolute;
  width: 100%;
}

.one-entity-clipper .carousel-img-container .img-overlay-control a {
  color: #fff;
}

.one-entity-clipper .carousel-img-container .img-overlay-control a:hover {
  color: #2D73A0;
}

.one-entity-clipper .carousel-img-container .img-overlay-control.top {
  top: 5px;
}

.one-entity-clipper .carousel-img-container .img-overlay-control.bottom {
  bottom: 5px;
}

.one-entity-clipper .photo-carousel .carousel-img-container img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  vertical-align: top;
}

.one-entity-clipper .photo-carousel .img-carousel-control {
  position: absolute;
  vertical-align: middle;
  top: 50%;
}

.one-entity-clipper .photo-carousel .img-carousel-control.left {
  left: 0;
}

.one-entity-clipper .photo-carousel .img-carousel-control.right {
  right: 0;
}

.save-to-trip-plan-panel {
  background-color: #fff;
  width: 100%;
  padding: 10px 10px 30px 10px;
  overflow: scroll;
}

.save-to-trip-plan-panel .save-prompt-text {
  font-size: 1.2em;
}

.save-to-trip-plan-panel .trip-plan-dropdown {
  padding: 10px 0;
}

.save-to-trip-plan-panel .save-button {
  text-align: center;
  margin-top: 10px;
}

.clip-success .checkmark {
  fill: green;
}

.omnibox-panel {
  background-color: #fff;
  width: 100%;
  padding: 10px 10px 30px 10px;
  overflow: scroll;
}

.omnibox-panel .search-prompt-text {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.omnibox-panel .search-spinner {
  position: relative;
  top: -28px;
  left: 50%;
}

.omnibox-panel .search-results {
  margin-top: 20px;
}

.omnibox-panel .one-result {
  padding: 10px 5px;
  cursor: pointer;
  font-size: 10pt;
}

.omnibox-panel .one-result:hover {
  background-color: #ccc;
}

.omnibox-panel .result-icon {
  max-width: 20px;
  max-height: 20px;
}

.omnibox-panel .result-address {
  color: #aaa;
}

.enter-manually-link {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
  font-size: 14pt;
}

.enter-manually-link a {
  color: #428bca;
}

.enter-manually-link a:hover {
  color: #2D73A0;
}
