html, body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito';
  background-color: #fff;
  color: #000;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #2D73A0;
}

.blue-links a {
  color: #428bca;
}

.blue-links a:hover {
  color: #2D73A0;
}

.clipper-panel {
  width: 100%;
  height: 50%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #EAEAEA;
}

.trip-plan-panel {
  width: 100%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 0;
  overflow-y: auto;
  box-shadow: 0px -1px 2px #aaaaaa;
  background-color: #4A4A4A;
  color: #fff;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loading-panel {
  height: 100%;
}

.clipper-panel .bottom-spacer {
  height: 52px;
}

.clipper-panel .save-button-panel {
  text-align: center;
  position: fixed;
  bottom: calc(50% + 10px);
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.clipper-panel .save-button-panel .save-to-trip-btn {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clipper-panel .search-panel-header {
  position: relative;
}

.clipper-panel .back-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 11pt;
}

.clipper-panel .no-places-text {
  margin: 0 10px 10px 10px;
}

.clipper-panel .select-text-prompt {
  margin: 10px 0;
}

.clipper-panel .select-text-prompt .location-name {
  color: #777;
}

.trip-plan-panel .trip-plan-dropdown {
  padding: 10px;
}

.trip-plan-panel .trip-plan-in-new-window {
  position: absolute;
  top: 18px;
  right: 35px;
}

.trip-plan-panel .no-places-yet {
  text-align: center;
  font-size: 1.2em;
  margin-top: 20px;
}

.trip-plan-panel .no-places-yet .filler-icon {
  width: 100px;
  height: 100px;
  margin: auto;
}

.trip-plan-panel .no-places-yet .filler-icon svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}

.dropdown-menu.right-bottom-dropdown-menu { /* DUPE */
  left: auto;
  right: 0px;
  top: auto;
  bottom: 100%;
  text-align: left;
}

.full-spinner {
  background-image: url('/static/img/spinner2.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.summary-panel {
  height: 100%;
}

.intro-text {
  padding: 10px;
  font-size: 1.2em;
}

.missing-add-place {
  margin: 20px 10px 0px 10px;
  font-size: 11pt;
}

.clip-success {
  margin: 20px;
  text-align: center;
  font-size: 14pt;
}

.clip-success a {
  color: #428bca;
}

.clip-success a:hover {
  color: #2D73A0;
}

.clip-success .checkmark {
  fill: green;
}

.omnibox-panel {
  width: 100%;
  padding: 10px 10px 30px 10px;
  overflow-y: scroll;
  position: relative;
}

.omnibox-panel .search-spinner {
  position: absolute;
  top: 15px;
  text-align: center;
  width: 100%;
}

.omnibox-panel .search-results {
  margin-top: 10px;
}

.omnibox-panel .search-results .no-results-text {
  font-size: 1.2em;
}

.omnibox-panel .one-result {
  padding: 10px 5px;
  cursor: pointer;
  font-size: 10pt;
}

.omnibox-panel .one-result:hover {
  background-color: #ccc;
}

.omnibox-panel .one-result .result-column {
  display: inline-block;
  vertical-align: top;
}

.omnibox-panel .one-result .result-details {
  max-width: calc(100% - 24px);
}

.omnibox-panel .result-icon {
  max-width: 20px;
  max-height: 20px;
}

.omnibox-panel .result-address {
  color: #aaa;
}

.enter-manually-link {
  margin-top: 10px;
}

.entity-results .select-info {
  margin: 0 10px;
  position: relative;
}

.entity-results .info-text {
  margin-left: 10px;
  color: #777;
  position: relative;
  top: -2px;
}

.entity-results .info-text .glyphicon-plus-sign {
  font-size: 11px;
}

.clipper-panel .add-other-link {
  margin: 10px;
}

.one-entity-result {
  padding: 15px 10px;
  position: relative;
  cursor: pointer;
}

.one-entity-result:hover {
  background-color: #ccc;
}

.one-entity-result.editing {
  background-color: #fff !important;
}

.one-entity-result.selected {
  background-color: #aaa;
}

.one-entity-result.selected-for-saving {
  background-color: lightblue;
}

.one-entity-result .select-handle {
  display: inline-block;
  vertical-align: top;
  margin: 6px 3px 0 0;
}

.one-entity-result .result-letter-icon {
  display: inline-block;
  vertical-align: top;
}

.one-entity-result .result-letter-icon .map-marker .marker-shape {
  width: 24px;
  height: 37px;
  position: relative;
  top: -3px;
}

.one-entity-result .result-letter-icon .search-result-marker .result-letter {
  font-size: 1.1em;
  top: 1px;
}

.one-entity-result .entity-info {
  display: inline-block;
  max-width: calc(100% - 44px);
}

.one-entity-result.multiple-results .entity-info {
  max-width: calc(100% - 56px);
}

.one-entity-result .entity-info .name  {
  line-height: 1.2;
}

.one-entity-result .entity-info .details {
  font-size: 0.9em;
}

.one-entity-result .summary {
  position: relative;
}

.one-entity-result .edit-link,
.one-entity-result .close-edit-link {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 7px;
}

.one-entity-result .edit-link {
  display: none;
}

.one-entity-result:hover .edit-link {
  display: inline-block;
}

.one-entity-result .editor {
  margin-top: 10px;
  position: relative;
}

.one-entity-result .editor  .nav-tabs>li>a {
  border-radius: 2px 2px 0 0;
  padding: 5px 10px;
  cursor: pointer;
}

.one-entity-result .editor .tab-content {
  margin-top: 7px;
}

.one-entity-result .editor .description-input {
  height: 150px;
}

.one-entity-result .notes-editor .tip-text {
  color: #777;
  text-align: center;
  margin-top: 10px;
}

.one-entity-result .photo-editor {
  width: 100%;
}

.one-entity-result .photo-editor .imgs-prompt textarea {
  margin: 10px;
  width: calc(100% - 20px);
  border: 1px dashed #ccc;
  resize: none;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  cursor: default;
}

.one-entity-result .photo-editor .photo-carousel {
  width: 100%;
  height: 150px;
  text-align: center;
  margin: 10px 0;
  position: relative;
}

.one-entity-result .photo-carousel .carousel-img-container {
  width: calc(100% - 30px);
  height: 100%;
  position: relative;
  display: inline-block;
}

.one-entity-result .carousel-img-container .img-overlay-control {
  position: absolute;
  width: 100%;
}

.one-entity-result .carousel-img-container .img-overlay-control a {
  color: #fff;
}

.one-entity-result .carousel-img-container .img-overlay-control a:hover {
  color: #2D73A0;
}

.one-entity-result .carousel-img-container .img-overlay-control.top {
  top: 5px;
}

.one-entity-result .carousel-img-container .img-overlay-control.bottom {
  bottom: 5px;
}

.one-entity-result .photo-carousel .carousel-img-container img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  vertical-align: top;
}

.one-entity-result .photo-carousel .img-carousel-control {
  position: absolute;
  vertical-align: middle;
  top: 50%;
}

.one-entity-result .photo-carousel .img-carousel-control.left {
  left: 0;
}

.one-entity-result .photo-carousel .img-carousel-control.right {
  right: 0;
}

.one-entity-result .location-editor {
  width: 100%;
}

.one-entity-result .location-editor input {
  margin-bottom: 10px;
}

.one-entity-result .location-editor .tip-text {
  color: #777;
  text-align: center;
}

.one-entity-listing {
  cursor: pointer;
}

.one-entity-listing:hover {
  background-color: #444;
}

.map-marker.search-result-marker.selected .marker-shape svg {
  stroke: #fff;
  stroke-width: 10px;
}
