html, body {
  width: 100%;
  height: 100%;
  font-family: 'Nunito';
  background-color: #fff;
  color: #000;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #2D73A0;
}

.blue-links a {
  color: #428bca;
}

.blue-links a:hover {
  color: #2D73A0;
}

.clipper-panel {
  width: 100%;
  height: 50%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  background-color: #EAEAEA;
}

.trip-plan-panel {
  width: 100%;
  height: 50%;
  position: fixed;
  top: 50%;
  left: 0;
  overflow-y: auto;
}

.loading-panel {
  height: 100%;
  padding: 10px;
}

.clipper-panel .entity-results {
  margin-bottom: 50px;
}

.clipper-panel .save-button-panel {
  text-align: center;
  position: fixed;
  bottom: calc(50% + 10px);
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
}

.trip-plan-panel .trip-plan-dropdown {
  margin: 10px;
}

.dropdown-menu.right-bottom-dropdown-menu { /* DUPE */
  left: auto;
  right: 0px;
  top: auto;
  bottom: 100%;
  text-align: left;
}

.full-spinner {
  background-image: url('/static/img/spinner2.gif');
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.summary-panel {
  height: 100%;
}

.intro-text {
  margin: 10px;
  font-size: 1.2em;
}

.missing-add-place {
  margin: 20px 10px 0px 10px;
  font-size: 11pt;
}

.clip-success {
  margin: 20px;
  text-align: center;
  font-size: 14pt;
}

.clip-success a {
  color: #428bca;
}

.clip-success a:hover {
  color: #2D73A0;
}

.clip-success .checkmark {
  fill: green;
}

.omnibox-panel {
  background-color: #fff;
  width: 100%;
  padding: 10px 10px 30px 10px;
  overflow: scroll;
}

.omnibox-panel .search-prompt-text {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.omnibox-panel .search-spinner {
  position: relative;
  top: -28px;
  left: 50%;
}

.omnibox-panel .search-results {
  margin-top: 20px;
}

.omnibox-panel .one-result {
  padding: 10px 5px;
  cursor: pointer;
  font-size: 10pt;
}

.omnibox-panel .one-result:hover {
  background-color: #ccc;
}

.omnibox-panel .result-icon {
  max-width: 20px;
  max-height: 20px;
}

.omnibox-panel .result-address {
  color: #aaa;
}

.enter-manually-link {
  margin-left: 10px;
}

.entity-results .select-all-link {
  text-align: right;
  margin-right: 10px;
}

.one-entity-result {
  padding: 15px 10px;
  position: relative;
}

.one-entity-result:hover {
  background-color: #ccc;
}

.one-entity-result.editing {
  background-color: #fff !important;
}

.one-entity-result.selected {
  background-color: #dedede;
}

.one-entity-result .entity-circle-img {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}

.one-entity-result .entity-circle-img img  {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.one-entity-result .entity-info {
  display: inline-block;
  max-width: calc(100% - 44px);
}

.one-entity-result .entity-info .name  {
  line-height: 1.2;
}

.one-entity-result .entity-info .details {
  font-size: 0.9em;
}

.one-entity-result .summary {
  position: relative;
}

.one-entity-result .edit-links {
  font-size: 10pt;
}

.one-entity-result .select-links {
  position: absolute;
  bottom: 3px;
  right: 10px;
}

.one-entity-result .editor {
  margin-top: 10px;
  position: relative;
}

.one-entity-result .editor  .nav-tabs>li>a {
  border-radius: 2px 2px 0 0;
  padding: 5px 10px;
  cursor: pointer;
}

.one-entity-result .editor .tab-content {
  margin-top: 7px;
}

.one-entity-result .editor .description-input {
  height: 150px;
}

.one-entity-result .photo-editor {
  width: 100%;
}

.one-entity-result .photo-editor .imgs-prompt textarea {
  margin: 10px;
  width: calc(100% - 20px);
  border: 1px dashed #ccc;
  resize: none;
  text-align: center;
  padding: 10px;
  background-color: #fff;
  cursor: default;
}

.one-entity-result .photo-editor .photo-carousel {
  width: 100%;
  height: 150px;
  text-align: center;
  margin: 10px 0;
  position: relative;
}

.one-entity-result .photo-carousel .carousel-img-container {
  width: calc(100% - 30px);
  height: 100%;
  position: relative;
  display: inline-block;
}

.one-entity-result .carousel-img-container .img-overlay-control {
  position: absolute;
  width: 100%;
}

.one-entity-result .carousel-img-container .img-overlay-control a {
  color: #fff;
}

.one-entity-result .carousel-img-container .img-overlay-control a:hover {
  color: #2D73A0;
}

.one-entity-result .carousel-img-container .img-overlay-control.top {
  top: 5px;
}

.one-entity-result .carousel-img-container .img-overlay-control.bottom {
  bottom: 5px;
}

.one-entity-result .photo-carousel .carousel-img-container img {
  max-width: 100%;
  max-height: 100%;
  cursor: pointer;
  vertical-align: top;
}

.one-entity-result .photo-carousel .img-carousel-control {
  position: absolute;
  vertical-align: middle;
  top: 50%;
}

.one-entity-result .photo-carousel .img-carousel-control.left {
  left: 0;
}

.one-entity-result .photo-carousel .img-carousel-control.right {
  right: 0;
}

.one-entity-result .location-editor {
  width: 100%;
}

.one-entity-result .location-editor input {
  margin-bottom: 10px;
}

.one-entity-result .map-container {
  width: 100%;
  height: 250px;
}

.one-entity-result .map {
  width: 100%;
  height: 100%;
}

.one-entity-listing {
  cursor: pointer;
}

.one-entity-listing:hover {
  background-color: #ccc;
}
