.navbar {
  min-height: 40px;
  margin-bottom: 0;
}

.navbar-brand {
  height: 40px;
  padding: 10px;
}

.main-logo {
  position: relative;
  top: 12px;
  left: -10px;
  font-family: 'Raleway';
  font-size: 1.2em;
  color: #FFFFFF;
  padding: 4px 6px;
  background-color: #000000;
  line-height: 1.0;
  height: 30px;
}

.main-logo:hover {
  color: #FFFFFF;
}

.main-nav {
  background-color: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.navbar .right-controls {
  padding-right: 10px;
}

.nav-pills > li > a {
  padding: 10px 8px;
}

.nav-pill-separator {
  padding: 12px 0;
  font-size: 16px;
  line-height: 1.0;
}

.navbar .trip-plan-name {
  font-weight: 500;
  font-size: 1.1em;
}

.navbar .place-count a {
  background-color: #4A90E2;
  color: #fff;
  padding: 2px 8px;
  margin: 7px 10px 0 0;
  border-radius: 2 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 0.5s;
}

.navbar .place-count-changed a {
  background-color: red;
}

.navbar .new-trip-item > a {
  background-color: #4A90E2;
  padding: 7px 10px;
  height: 41px;
  border-radius: 0;
  color: #fff;
}

.navbar .trip-menu-icon {
  font-size: 17pt;
  vertical-align: middle;
}

.navbar .new-trip-item > a svg {
  fill: #fff;
  stroke: #fff;
}

.navbar .new-trip-text {
  position: relative;
  top: 4px;
}

.flashed-msgs {
  position: fixed;
  top: 20px;
  width: 400px;
  left: calc(50% - 200px);
  padding: 10px;
  background-color: #fff;
  z-index: 2000;
  border: 1px solid #777;
  border-radius: 2px;
  text-align: center;
}

.flash-msg {
  position: relative;
}

.flash-msg .dismiss-link {
  position: absolute;
  right: 0;
  top: 0;
}

.login-modal-window {
  width: 600px;
  height: 460px;
  margin: auto;
  overflow: hidden;
}

.login-modal-window .modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.login-modal {
  width: 100%;
  height: 100%;
}

.login-modal .login-iframe {
  width: 100%;
  height: 100%;
  padding: 20px;
  border: none;
}

.account-dropdown > li > a {
  font-weight: 300;
}

.account-dropdown {
  border-radius: 2px;
  margin: 0;
}

.account-dropdown .logout-item {
  text-align: center;
  border-top: 1px solid black;
}

.account-dropdown .logout-item > a {
  font-weight: 400;
}

.nav-trip-plan-dropdown {
  width: 250px;
  margin: 0;
  padding: 5px 0 0 0;
}

.nav-trip-plan-dropdown .select-trip-prompt,
.nav-trip-plan-dropdown .or-text {
  padding: 3px 20px;
  font-weight: 400;
}

.nav-trip-plan-dropdown .or-text {
  text-align: center;
}

.nav-trip-plan-dropdown .trip-link,
.nav-trip-plan-dropdown .active-trip-item {
  padding: 3px 20px;
}

.nav-trip-plan-dropdown .create-new-trip-link a {
  text-align: center;
  background-color: #4A90E2;
  color: #fff;
  padding: 10px;
}

.new-trip-modal-window .modal-dialog {
  width: 600px;
}

.new-trip-modal {
  padding: 20px;
  background-color: #efefef;
  color: #000;
}

.new-trip-modal .header {
  position: relative;
  font-size: 14pt;
  font-weight: 400;
}

.new-trip-modal .header .close-link {
  position: absolute;
  top: 0;
  right: 0;
}

.new-trip-modal .new-trip-modal-body {
  width: 400px;
  margin: 30px auto 0 auto;
}

.new-trip-modal label {
  text-align: left;
}

.new-trip-modal input[type=text] {
  border-radius: 2px;
}

.new-trip-modal .trip-name-section {
  margin-top: 20px;
}

.new-trip-modal .create-trip-button {
  margin-top: 30px;
  text-align: center;
  position: relative;
}

.new-trip-modal .create-trip-button button {
  padding: 10px 30px;
}

.new-trip-modal .create-trip-button .save-spinner {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 8px;
}

.new-trip-modal .one-result {
  padding: 5px 0;
  cursor: pointer;
}

.new-trip-modal .one-result:hover {
  background-color: #ccc;
}

.new-trip-modal .result-icon {
  max-width: 25px;
  max-height: 25px;
}

.new-trip-modal .login-prompt {
  text-align: center;
  margin-top: 20px;
}

.new-trip-modal .login-prompt a {
  color: #428bca !important;
}

.new-trip-modal .login-prompt a:hover {
  color: #2D73A0 !important;
}
