html, body {
  width: 100%;
  height: 100%;
  font-family: 'Raleway';
  background-color: #EAEAEA;
  color: #666666;
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #2D73A0;
}

.light-label {
  font-weight: 400;
}

.btn-primary {
  background-color: #4a90e2;
}

.text-lodging {
  color: #456BE8;
}

.text-food_and_drink {
  color: #D91848;
}

.text-attractions {
  color: #50B0B2;
}

.text-activities {
  color: #92BBFF;
}

.text-shopping {
  color: #FEC569;
}

.text-entertainment {
  color: #A957B2; 
}

.favorite-star {
  color: #FF9F00;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

/* Navigation */

.navbar {
  min-height: 40px;
  margin-bottom: 0;
}

.navbar-brand {
  height: 40px;
  padding: 10px;
}

#logo {
  font-family: 'Raleway';
  font-size: 1.4em;
}

#travel-clip-navbar {
  background-color: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

#header-plan-navigation {
  background-color: rgba(240, 240, 255, 0.8);
  padding: 0px 15px 0px 0px;
}

#trip-plan-title {
  width: 206px;
}

#trip-plan-title a {
    color: #000000;
}

#trip-plan-title a:hover {
    color: #428bca;
}

#trip-plan-title-input {
  position: relative;
  top: 8px;
  width: 200px;
  margin: 0px 3px 0px 3px;
}

#add-place-to-trip-btn {
  margin-left: 5px;
}

#header-globe, #header-picture, #header-user, #header-globe {
  font-size: 1.2em;
  color: #000000;
}

#header-globe:hover, #header-picture:hover,
#header-user:hover, #header-gear:hover,
#add-place-to-trip-btn:hover {
  color: #428bca;
}

#header-globe {
  padding-top: 1px;
}

.active-view-mode #header-globe,
.active-view-mode #header-picture {
  color: #428bca;
}

hr.dropdown-separator {
  margin-top: 5px;
  margin-bottom: 5px;
}

#trip-plan-header {
  position: relative;
}

#trip-plan-header .trip-plan-info {
  margin: 10px;
}

#trip-plan-header .title {
  font-size: 1.2em;
}

#trip-plan-header .controls {
  padding: 5px 10px;
  background-color: #222;
}

#trip-plan-header .organize-dropdown {
  background-color: #222;
}

#trip-plan-header .organize-dropdown a:hover {
  background-color: #ccc;
}

/* Map View */

#entity-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #4A4A4A;
}

#entity-container,
#entity-container h3,
#entity-container h4,
#entity-container a {
  color: #fff;
}

/* Temporary until I figure out a better solution or UI */

#entity-container::-webkit-scrollbar { 
    display: none; 
}

.item-group-header {
  cursor: pointer;
  margin: 0px;
  padding: 10px;
  display: inline-block;
  color: #000000;
}

.item-group-header a:hover {
  text-decoration: none;
}

.toggle-chevron {
  position: relative;
  font-size: 0.6em;
  left: 10px;
  bottom: 6px;
}

.one-entity-leftnav {
  padding: 5px 10px;
  cursor: pointer;
}

.one-entity-leftnav.selected,
.one-entity-leftnav:hover {
  background-color: #ccc;
}

.one-entity-leftnav .entity-circle-img {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}

.one-entity-leftnav .entity-circle-img img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.one-entity-leftnav .entity-info {
  display: inline-block;
  max-width: calc(100% - 44px);
}

.one-entity-leftnav .entity-info .details {
  font-size: 12px;
}

.guide-panel {
  color: #000;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.guide-panel .overview {
  width: 100%;
}

.guide-panel .guide-panel-hero-img {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}

.guide-panel .title-floater {
  color: #fff;
  margin: auto;
  font-size: 20pt;
  text-align: center;
  position: relative;
  top: 50%;
}

.guide-panel .overview .description {
  white-space: pre-line;
  text-align: justify;
  margin: 15px;
}


.guide-panel .overview .clip-cta a {
  color: #428bca;
}

.guide-panel .overview .clip-cta a:hover {
  color: #2D73A0;
}

.guide-panel .overview .clip-cta {
  margin: 0 15px 15px 15px;
  position: relative;
}

.guide-panel .overview .clip-control {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
}

.guide-panel .entity-separator {
  border-top: 1px solid #979797;
  margin: 10px 0;
}

.guide-panel h4 {
  font-size: 16px;
}

.guideview-item-group-header {
  background-color: #ccc;
  padding: 15px;
}

.one-entity-guideview {
  margin: 0 15px;
}

.one-entity-guideview .name {
  position: relative;
}

.one-entity-guideview .star {
  position: absolute;
  top: 0;
  right: 0;
}

.one-entity-guideview .photo-carousel {
  height: 250px;
  text-align: center;
}

.one-entity-guideview .photo-carousel img {
  max-width: 100%;
  max-height: 100%;
}

.one-entity-guideview .metadata {
  margin: 15px 0;
}

.one-entity-guideview .metadata .source-text {
  text-decoration: underline;
}

.one-entity-guideview .description {
  white-space: pre-line;
  text-align: justify;
}

.one-entity-guideview .controls {
  margin-top: 10px;
  position: relative;
  min-height: 20px;
}

.one-entity-guideview .clip-cta {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
}

.one-entity-guideview .clip-cta a {
  color: #428bca;
}

.one-entity-guideview .clip-cta a:hover {
  color: #2D73A0;
}

.modal-carousel.modal {
  top: 15%;
}

.modal-carousel .modal-dialog {
  max-height: 70%;
  max-width: 70%;
}

.modal-carousel .carousel-inner>.item>img {
  height: 100%;
}

.modal-carousel div {
  height: 100%;
}

.modal-carousel img {
  height: 100%;
  margin: auto;
}

.one-note-mapview {
  margin: 5px 10px;
  position: relative;
}

.one-note-mapview .controls {
  position: absolute;
  top: 0;
  right: 0;
}

.clipped-pages-header {
  padding: 10px;
}

.clipped-pages {
  padding: 0px 10px;
}

.getting-started-directions {
  color: #000;
  padding: 20px 40px;
  font-size: 1.1em;
}

.getting-started-directions .bookmarklet {
  text-align: center;
}

.getting-started-directions .favicon {
  max-width: 16px;
  max-height: 16px;
}

.getting-started-directions a.site-link {
  color: #39b3d7;
}

.getting-started-directions a.site-link:hover {
  color: #2D73A0;
}

.welcome {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.step {
  font-size: 1.3em;
  margin-top: 20px;
}

.entity-img {
  margin: auto;
  width: 100%;
  cursor: pointer;
}

.dropdown-menu.right-bottom-dropdown-menu {
  left: auto;
  right: 0px;
  top: auto;
  bottom: 100%;
  text-align: left;
}

.dropdown-menu.right-top-dropdown-menu {
  left: auto;
  right: 0px;
  text-align: left;
}

.btn-save-changes {
  padding: 2px 3px;
  position: relative;
  top: -1px;
}

.mapview-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.account-dropdown {
  position: fixed;
  z-index: 10000;
  width: 300px;
  top: 41px;
  right: 0px;
  background-color: white;
  padding: 20px;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.9);
}

.account-dropdown-login-info {
  padding-bottom: 10px;
}

.email-entry-input {
  width: 75%;
}

.logout-link {
  position: relative;
  float: right;
}

.btn-login {
  position: relative;
  float: right;
  top: -34px;
}

.my-trip-plans-heading {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.create-new-trip-dropdown-link {
  padding-top: 10px;
}

.logged-in-email {
  font-weight: bold;
}

#left-panel {
  position: fixed;
  height: calc(100% - 41px);
  top: 41px;
  width: 20%;

  z-index: 1;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

#mid-panel {
  position: fixed;
  height: calc(100% - 41px);
  top: 41px;
  width: 30%;
  left: 20%;

  background-color: #FAFAFA;
  border-right: 1px solid #979797;  
}

#map-panel {
  position: fixed;
  height: calc(100% - 41px);
  top: 41px;
  width: 80%;
  left: 20%;
}

.mid-panel-expanded #map-panel {
  width: 50%;
  left: 50%;
}

#map-container {
  width: 100%;
  height: 100%;
}

 #map {
  width: 100%;
  height: 100%;
}

#main-control-buttons {
  z-index: 1;
}

#main-control-buttons .left-buttons {
  position: absolute;
  top: 10px;
  left: 10px;
}

#main-control-buttons .right-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
}

#main-control-buttons .settings-btn {
  font-size: 14pt;
  color: #000;
  padding: 3px;
  height: 31px;
}

#main-control-buttons button {
  border-radius: 1px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3)
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

#entity-info-box {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 10px;
  background-color: #f3f4f4;
}

#entity-info-box .address {
  color: #000;
  padding-bottom: 5px;
}

#entity-info-box .description {
  white-space: pre-wrap;
}

.infowindow-warning-text {
  padding-top: 5px;
}

.infowindow-address {
  padding-top: 5px;
}

.marker-tools {
  width: 50px;
  margin-left: -25px;
  height: 25px;
  margin-top: 5px;
  padding-top: 3px;
  background-color: #fff;
  font-size: 11pt;
  text-align: center;

  border-radius: 1px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.marker-tools a {
  padding: 0 3px;
}

.marker-tools.editable {
  width: 110px;
  margin-left: -55px;
}

.marker-tools .editor-controls {
  border-left: 1px solid #777;
  padding-left: 3px;
}

.clipping-iframe {
  width: 500px;
  height: 400px;
}

/* Temporary hack to increase Bootstrap carousel icons */
.icon-next, .icon-prev {
  font-size: 40px !important;
  top: calc(50% - 18px) !important;
}

.note-text {
  white-space: pre-wrap;
}

.header-img {
  height: 200px;
  width: 100%;
}

#lodging-header-img {
  background-image: url(/static/img/hotel-header-md.jpg);
}

#food_and_drink-header-img {
  background-image: url(/static/img/restaurant-header-md.jpg);
}

#attractions-header-img {
  background-image: url(/static/img/attraction-header-md.jpg);
}

@media (min-width: 1441px) {
  #Hotel-header-img {
    background-image: url(/static/img/hotel-header-lg.jpg);
  }
  #Restaurant-header-img {
    background-image: url(/static/img/restaurant-header-lg.jpg);
  }
  #Attraction-header-img {
    background-image: url(/static/img/attraction-header-lg.jpg);
  }
}

/* Add Place Overlays */

.omnibox-container {
  width: 100%;
  height: 54px;
  z-index: 1031;
  padding: 10px;
  background-color: #f7f8f8;
  border-top: 1px solid #bbb;
  position: absolute;
  top: 44px;
}

#search-spinner {
  text-align: center;
  margin-top: 6px;
}

.add-place-manually-link {
  margin-top: 10px;
}

.add-place-panel-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.add-place-panel {
  position: relative;
  background-color: inherit;
  height: 100%;
}

.add-place-panel .upper-panel {
  padding: 10px;
  background-color: #EAEAEA;
  overflow-y: auto;
  height: 100%;
}

.add-place-panel .upper-panel.has-search-results {
  height: calc(100% - 100px);
}

.add-place-panel .lower-panel {
  position: relative;
  height: 100px;
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.15);
}

.add-place-panel .header {
  margin: 10px 0 20px 0;
}

.add-place-panel .header .close-panel-button {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
}

.add-place-panel .site-select {
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  width: 300px;
}

.add-place-panel .site-select .dropdown-button {
  background-color: #fff;
  text-align: center;
  width: 100%;
  border: 1px solid rgba(0,0,0,.15);
}

.add-place-panel .site-select .dropdown-menu {
  width: 100%;
  margin: 0;
}

.add-place-panel .search-spinner {
  text-align: center;
  position: relative;
  top: -28px;
}

.add-place-panel .search-others {
  margin-top: 20px;
}

.add-place-panel .search-others .sample-sites {
  width: 80%;
  margin: auto;
}

.add-place-panel .site-icon {
  width: 16px;
  height: 16px;
}

.add-place-panel .search-results {
  margin-bottom: 40px;
}

.add-place-panel .save-panel {
  text-align: center;
  padding: 10px;
}

.add-place-panel .save-confirmation {
  padding: 5px 0px 10px 0px;
}

/* Custom calculation to support 360px image/map */

.modal-dialog {
  width: 782px;
}

.add-place-confirmation {
  margin: 20px;
}

.add-place-confirmation .container-fluid {
  padding: 0;
}

.add-place-confirmation .row {
  margin-left: 0;
  margin-right: 0;
}

.flush-left {
  padding-left: 0px;
  padding-right: 10px;
}

.flush-right {
  padding-right: 0px;
  padding-left: 10px;
}

.apc-place-name {
  font-weight: bold;
  font-size: 16pt;
  padding-bottom: 10px;
}

.apc-address {
  padding-bottom: 10px;
}

.apc-place-details {
  padding-top: 10px;
}

.apc-rating-edit, .apc-category-edit, .apc-sub-category-edit {
  padding-top: 10px;
}

.apc-controls {
  padding-top: 20px;
  text-align: right;
}

.apc-control-edit-link {
  float: left;
  padding-top: 18px;
}

.apc-edit-input {
  margin-bottom: 10px;
}

#apc-edit-name-input, #apc-edit-address-input {
  width: 360px;
}

.apc-image-drop-target {
  display: block;
  width: 360px;
  height: 100px;
  resize: none;
  padding: 20px 10px;
  font-size: 14px;
  background-color: #EAEAEA;
  color: #000000;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.apc-image-edit-container {
  padding-top: 20px;
}

.apc-static-map-header {
  margin-top: 10px;
}

#apc-static-map-container, #apc-editable-map-container {
  margin: 0px auto 0px auto;
  width: 360px;
  height: 270px;
}

#apc-static-map, #apc-editable-map {
  width: 100%;
  height: 100%;
}

.apc-map-precision-edit {
  margin-top: 10px;
}

.apc-img-drag-active {
  border-color: red;
}

.apc-img-trash-control {
  position: absolute;
  top: 10px;
  /* Temporary CSS hack */
  left: calc(50% - 50px);
  padding: 2px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

.reclip-confirmation-modal {
  min-height: 150px; 
  margin: 20px;
}

.reclip-confirmation-trip-plan-dropdown {
  margin: 20px 0;
}

.pac-container {
  z-index: 1100;
}

/* Day Planner */

.day-planner-modal-window {
  height: 80%;
}

.day-planner-modal-window.modal {
  top: 10%;
}

.day-planner-modal-window .modal-dialog {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.day-planner-modal-window .modal-content {
  height: 100%;
  overflow: hidden;
  background-color: #EAEAEA;
}

.day-planner-modal {
  height: 100%;
  padding: 20px;
}

.day-planner-body {
  height: calc(100% - 44px);
  width: 100%;
  overflow: hidden;
}

.day-planner-body .row-fluid {
  height: 100%;
}

.day-planner-header {
  margin-bottom: 10px;
}

.day-planner-header-text {
  font-size: 24px;
}

.day-planner-persistent-controls {
  float: right;
  position: relative;
  top: -34px;
}

.day-planner-left-panel {
  height: calc(100% - 20px);
  padding: 10px;
  overflow-y: auto;
}

.day-planner-right-panel {
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.day-planner-left-panel-drag-area {
  width: 100%;
  height: 100%;
}

.day-planner-left-panel-drag-area.dragactive {
  background-color: #f5f5f5;
}

.day-planner-left-panel-drag-area.dragover {
  box-shadow: 0px 0px 3px 3px rgba(126, 173, 224, 0.8) !important;
}

.day-planner-drop-target {
  width: 80%;
  height: 20px;
  margin: auto;
}

.day-planner-drop-target-inner {
  width: 100%;
  height: 50%;
  position: relative;
  top: 5px;
  background-color: #f3f4f4;
  border-radius: 10px;
}

.day-planner-drop-target.dragactive .day-planner-drop-target-inner {
  background-color: #bbb;
}

.day-planner-drop-target.dragover .day-planner-drop-target-inner {
  background-color: #3276b1;
}

.day-planner-draggable-entity {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  cursor: move;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.day-planner-draggable-entity.existing-item-dragactive {
  opacity: 0.5;
}

.day-planner-unsorted-item {
  margin-bottom: 10px;
}

.day-planner-controls {
  margin: 20px 0px;
}

.day-planner-add-day-button {
  display: block;
  margin: auto;
}

.day-planner-panel-header {
  text-align: center;
  margin-top: 10px;
}

.day-planner-one-day {
  margin-bottom: 10px;
  padding: 5px 10px 10px 10px;
  background-color: #f3f4f4;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.day-planner-one-day.dragover {
  box-shadow: 0px 0px 3px 3px rgba(126, 173, 224, 0.8) !important;
}

.day-planner-day-cta {
  text-align: center;
  font-style: italic;
}

.day-planner-one-day-controls {
  float: right;
  position: relative;
  top: -28px;
}

.day-planner-one-day-note {
  white-space: pre-wrap;
  margin: 0px 10px;
}

.day-planner-entity-image-container {
  display: inline-block;
  height: 100%;
  width: 80px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 0;
  margin: 0;
  background-color: #666666;
}

.day-planner-entity-image-container img {
  height: 100%;
  position: relative;
  left: 100%;
  margin-left: -200%;
}

.day-planner-entity-info {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 90px);
  margin-left: 5px;
}

.draggable-entity-controls {
  float: right;
  position: relative;
  top: -20px;
  right: 2px;
  display: none;
}

.day-planner-edit-note-control {
  padding-left: 15px;
  font-size: 14px;
}

.day-planner-edit-note-control a {
  color: #666;
}

.day-planner-edit-note-control a:hover {
  color: #428bca;
}

.draggable-entity-controls span {
  opacity: 0.5;
}

.day-planner-right-panel .day-planner-draggable-entity:hover .draggable-entity-controls {
  display: block;
}

.start-new-trip-modal {
  padding: 20px;
}

.gmaps-importer-modal {
  margin: 20px;
}

.gmaps-importer-modal h3 {
  text-align: center;
}

.gmaps-importer-modal .paste-prompt-text {
  font-size: 12pt;
  text-align: center;
}

.gmaps-importer-modal .search-spinner {
  position: relative;
  top: -28px;
  left: 50%;
}

.gmaps-importer-modal .save-spinner {
  text-align: center;
}

.gmaps-importer-modal .import-success-text {
  font-size: 12pt;
}

.gmaps-importer-modal .map-name {
  color: #000;
}

.gmaps-importer-modal .buttons {
  text-align: center;
  margin-top: 10px;
}

.gmaps-importer-modal a {
  color: #428bca;
}

.gmaps-importer-modal a:hover {
  color: #2D73A0;
}
