html, body {
  width: 100%;
  height: 100%;
  font-family: 'Avenir';
}

a {
  color: #000000;
}

a:hover {
  text-decoration: none;
  color: #2D73A0;
}

a.color-link {
  color: #428bca !important;
}

a.color-link:hover {
  color: #2D73A0 !important;
}

a.white-link {
  color: #FFFFFF;
}

a.white-link svg {
  fill: #FFFFFF;
}

a.white-link:hover {
  color: #2D73A0;
}

a.underline-link {
  text-decoration: underline;
}

a.help-prompt {
  color: #000;
  opacity: 0.5;
}

a.cta-link {
  color: #50B0B2;
}

a.cta-link:hover {
  color: #2D73A0;
}

.tc-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.tc-icon svg {
  width: 100%;
  height: 100%;
}

a:hover .tc-icon svg {
  fill: #2D73A0;
}

.light-label {
  font-weight: 400;
}

.btn-primary {
  border-radius: 2px;
  border: none;
  background-color: #4087F9;
}

.btn-cta {
  border-radius: 2px;
  border: none;
  background-color: #4CBDC9;
  color: #fff;
}

.btn-primary:hover {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.03));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.03));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.03));
  background-color: transparent;  background-color: #4A90E2;
}

.btn-cta:hover {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.03));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.03));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.03));
  background-color: transparent;  background-color: #50B0B2;
  color: #FFFFFF;
}

.emphasis-zoom-icon {
  width: 1.5em;
  height: 1.5em;
}

.text-lodging {
  color: #456BE8;
}

.text-food_and_drink {
  color: #D91848;
}

.text-attractions {
  color: #50B0B2;
}

.text-activities {
  color: #92BBFF;
}

.text-shopping {
  color: #FEC569;
}

.text-entertainment {
  color: #A957B2; 
}

.text-region {
  color: #ADB9DD;
}

.text-transportation {
  color: #86BBFF;
}

.favorite-star {
  color: #FF9F00;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.modal-content {
  border-radius: 2px;
}

.caret.caret-up {
  border-top-width: 0;
  border-bottom: 4px solid;
}

.user-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  vertical-align: top;
  color: #fff;
}

.user-1 {
  background-color: #7738FF;
}

.user-2 {
  background-color: #E8160C;
}

.user-3 {
  background-color: #FFB300;
}

.user-4 {
  background-color: #56E80C
}

.user-5 {
  background-color: #1CEAFF;
}

hr.dropdown-separator {
  margin-top: 5px;
  margin-bottom: 5px;
}

.one-tag {
  background-color: #ccc;
  padding: 5px;
  margin-right: 5px;
}

/* Map View */

#entity-container {
  overflow-y: auto;
  background-color: #FAFAFA;
  color: #000;
  z-index: 1;

  position: fixed;
  top: calc(41px + 10px + 40px);
  right: 10px;
  width: 15%;
  max-height: 0;
  transition: max-height 0.3s;

  -webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
}

#entity-container.expanded {
  max-height: calc(100% - 41px - 40px - 10px - 20px);
}

/* Temporary until I figure out a better solution or UI */

#entity-container::-webkit-scrollbar { 
    display: none; 
}

.one-entity-summary {
  padding: 7px 10px;
  cursor: pointer;
  position: relative;
}

.one-entity-summary .scroll-anchor {
  position: relative;
  top: -40px;
}

.one-entity-listing {
  padding: 7px 10px;
}

.one-entity-summary.selected,
.one-entity-listing.selected {
  border-left: 3px solid #777;
  padding: 7px 10px 7px 7px;
}

.one-entity-summary:hover {
  border-left: 3px solid #ccc;
  padding: 7px 10px 7px 7px;
}

.one-entity-summary .entity-circle-img,
.one-entity-listing .entity-circle-img {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
}

.one-entity-summary .entity-circle-img img,
.one-entity-listing .entity-circle-img img  {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.one-entity-summary .entity-info,
.one-entity-listing .entity-info {
  display: inline-block;
  max-width: calc(100% - 44px);
}

.one-entity-summary.controls-open {
  background-color: #FAFAFA !important;
}

.one-entity-summary .entity-info .name,
.one-entity-listing .entity-info .name  {
  line-height: 1.2;
}

.one-entity-summary .entity-info .details,
.one-entity-listing .entity-info .details {
  font-size: 0.9em;
}

.one-entity-summary .entity-info .details svg,
.one-entity-listing .entity-info .details svg {
  fill: #FFFFFF;
}

.one-entity-summary .entity-info .day,
.one-entity-listing .entity-info .day {
  color: #ccc;
}

.one-entity-summary .entity-info .quickinfo-icon {
  margin-left: 3px;
}

.one-entity-summary .control-cog-section {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 24px;
  padding: 0 5px;
  display: none;
}

.one-entity-summary .control-cog {
  position: absolute;
  top: calc(50% - 7px);
}

.one-entity-summary:hover .control-cog-section,
.one-entity-summary.controls-open .control-cog-section {
  display: block;
}

.one-entity-summary.controls-open .control-cog-section {
  background-color: #666;
}

.one-entity-summary .controls {
  font-size: 1.6em;
  display: inline-block;
  margin-top: 7px;
}

.one-entity-summary .controls a {
  color: #000;
  padding: 5px;
}

.one-entity-summary .controls a:hover {
  color: #2D73A0;
}

.one-entity-summary .controls .control-toggle {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 24px;
  margin-top: 7px;
}

.info-panel-nav {
  height: 40px;
  position: relative;
  background-color: #EEE;
  border: 1px solid #dce0e0;
}

.info-panel-nav .info-panel-nav-main-controls {
  width: 96%;
  display: inline-block;
  float: left;
}

.info-panel-nav .info-panel-nav-more-items {
  width: 4%;
  padding: 7px 0px;
  height: 40px;
  text-align: center;
  display: inline-block;
  float: right;
  font-size: 1.2em;
}

.info-panel-nav .info-panel-nav-main-controls .info-nav-item {
  display: inline-block;
  padding: 10px;
  height: 40px;
  text-align: center;
}

.info-panel-nav .info-panel-nav-main-controls .info-nav-item .info-nav-item-icon {
  font-size: 1.2em;  
}

.info-panel-nav .info-panel-nav-main-controls .info-nav-item a {
  color: #000000;
}

.info-panel-nav .info-panel-nav-main-controls .info-nav-item a:hover {
  color: #2D73A0;
}

.info-panel-nav .info-panel-nav-main-controls .info-nav-item.selected {
  border-bottom: 3px solid #777;
}

.info-panel-nav .info-nav-item.selected a svg {
  fill: #000;
}

.info-panel-nav .more-item {
  margin: 5px;
  padding-left: 5px;
  border-left: 1px solid #000;
  float: right;
}

#info-panel .info-panel-content {
  width: 100%;
  height: 100%;
}

#info-panel .info-panel-content.with-nav {
  height: calc(100% - 32px);
}

.details-panel {
  width: 100%;
  height: 100%;
  padding: 0 10px 20px 10px;
  overflow-y: auto;
}

.details-panel .header-entities-separator {
  margin: 10px 0px;
  border-top: 1px solid #999;
}

.one-entity-guideview .comments .one-comment {
  margin: 10px 0px;
}

.one-entity-guideview .comments .one-comment .comment-sidebar {
  display: inline-block;
  vertical-align: top;
}

.one-entity-guideview .comments .one-comment .comment-timestamp {
  display: inline-block;
  color: #666666;
  font-size: 0.8em;
}

.one-entity-guideview .comments .one-comment .comment-details {
  display: inline-block;
  width: calc(100% - 24px);
}

.one-entity-guideview .comments .one-comment .text {
  white-space: pre-wrap;
}

.one-entity-guideview .comments .one-comment .comment-edit-link {
  display: none;
}

.one-entity-guideview .comments .one-comment:hover .comment-edit-link {
  display: inline;
}

.one-entity-guideview .controls {
  margin-top: 10px;
  position: relative;
  min-height: 20px;
  font-size: 1.4em;
}

.one-entity-guideview .clip-cta {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 11pt;
}

.one-entity-guideview .inline-editor {
  padding: 10px;
  background-color: #eee;  
}

.one-entity-guideview .inline-editor.ng-enter {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
  background-color: #ccc;
}

.one-entity-guideview .inline-editor.ng-enter-active { 
  background-color: #eee;
}

.details-panel .tags {
  margin: 10px 0;
}

.one-entity-search-result .header-bar {
  position: relative;
}

.one-entity-search-result .header-bar .name {
  font-size: 1.2em;
  display: inline-block;
  width: calc(100% - 110px);
}

.one-entity-search-result .controls {
  position: absolute;
  top: 0;
  right: 0;
}

.one-entity-search-result .result-letter-icon {
  display: inline-block;
  vertical-align: top;
}

.one-entity-search-result .result-letter-icon .map-marker .marker-shape {
  width: 24px;
  height: 37px;
  position: relative;
  top: -3px;
}

.one-entity-search-result .result-letter-icon .search-result-marker .result-letter {
  font-size: 1.2em;
  top: -3px;
}

.one-entity-search-result .save-confirmation {
  color: rgb(39, 172, 113);
}

.one-entity-guideview .clip-cta a {
  color: #428bca;
}

.one-entity-guideview .clip-cta a:hover {
  color: #2D73A0;
}

.one-entity-guideview .inline-comment-editor .author-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.one-entity-guideview .inline-day-planner select {
  max-width: 200px;
  margin: 5px 0;
}

.one-entity-guideview .inline-day-planner a {
  color: #428bca;
}

.one-entity-guideview .inline-day-planner a:hover {
  color: #2D73A0;
}

.one-entity-guideview .inline-directions .directions-select {
  margin: 10px 0;
}

.one-entity-details .name-and-photos {
  width: 100%;
  height: 300px;
  position: relative;
}

.one-entity-details .photo-carousel {
  width: 100%;
  height: 100%;
}

.one-entity-details .photo-carousel .carousel-content {
  width: 100%;
  height: 100%;
}

.one-entity-details .name-section {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 38px;
}

.one-entity-details .entity-icon {
  display: inline-block;
  padding: 2px 5px;
}

.one-entity-details .entity-icon .map-marker .marker-shape {
  width: 20px;
  height: 31px;
}

.one-entity-details .entity-name {
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13pt;
  display: inline-block;
  vertical-align: top;
  padding-top: 8px;
}

.one-entity-details .star-section {
  float: right;
  font-size: 13pt;
  display: inline-block;
  vertical-align: top;
  padding: 8px 5px 0 0;
}

.one-entity-details .star-section a {
  color: #FFFFFF;
}

.one-entity-details .info-tabs {
  position: relative;
  margin: 10px 0;
}

.one-entity-details .info-tab {
  display: inline-block;
  margin-right: 20px;
  font-weight: 500;
}

.one-entity-details .info-tab:hover {
  border-bottom: 3px solid #ccc;
}

.one-entity-details .info-tab.selected {
  border-bottom: 3px solid #777;
}

.one-entity-details .origin-trip-name {
  margin-bottom: 10px;
}

.one-entity-details .add-to-trip-cta {
  display: inline-block;
  float: right;
}

.one-entity-details .add-to-trip-link {
  color: #4087F9;
  font-weight: 500;
  padding: 3px;
}

.one-entity-details .add-to-trip-link:hover {
  color: #4A90E2;
  background-color: #ddd;
}

.one-entity-details .saved-status {
  color: #999;
  font-weight: 500;
}

.one-entity-details .source-attribution {
  margin-bottom: 10px;
}

.one-entity-details .source-attribution a {
  text-decoration: underline;
}

.one-entity-details .description {
  white-space: pre-wrap;
}

.one-entity-details .detail-item {
  margin-bottom: 5px;
}

.one-entity-details .reputation-section {
  margin-top: 10px;
}

.one-entity-details .tags {
  margin-top: 10px;
}

.one-entity-details .opening-hours {
  display: inline-block;
  white-space: pre-line;
  vertical-align: top;
}

.one-entity-details .editing-controls {
  margin-top: 10px;
  padding-top: 10px;
  height: 36px;
  font-size: 12pt;
}

.one-entity-details .editing-controls .left-controls {
  float: left;
}

.one-entity-details .editing-controls .left-controls a {
  padding-right: 5px;
}

.one-entity-details .editing-controls .right-controls {
  float: right;
}

.one-entity-details .editing-controls .right-controls a {
  padding-left: 5px;
}

.one-entity-details .entity-separator {
  border-top: 1px solid #CCCCCC;
  margin: 10px 0px;
}

.one-entity-details .inline-editor {
  background-color: #fff;
  padding: 10px;
}

.one-entity-details .directions-select {
  margin: 10px 0;
}

.one-entity-details .one-comment {
  margin: 10px 0px;
}

.one-entity-details .one-comment .comment-sidebar {
  display: inline-block;
  vertical-align: top;
}

.one-entity-details .one-comment .comment-timestamp {
  display: inline-block;
  color: #666666;
  font-size: 0.8em;
}

.one-entity-details .one-comment .comment-details {
  display: inline-block;
  width: calc(100% - 24px);
}

.one-entity-details .one-comment .text {
  white-space: pre-wrap;
}

.one-entity-details .one-comment .comment-edit-link {
  display: none;
}

.one-entity-details .one-comment:hover .comment-edit-link {
  display: inline;
}

.one-entity-details .comment-editor .author-name {
  margin-bottom: 5px;
}

.results-details-panel {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 25px;
}

.one-info-panel {
  padding: 10px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.one-info-panel .header {
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 10px;
}

.modal-carousel.modal {
  top: 15%;
}

.modal-carousel .modal-dialog {
  max-height: 70%;
  max-width: 70%;
}

.modal-carousel .carousel-inner>.item>img {
  height: 100%;
}

.modal-carousel div {
  height: 100%;
}

.modal-carousel img {
  height: 100%;
  margin: auto;
}

.getting-started-directions {
  padding: 20px 10px;
  font-size: 1.1em;
}

.getting-started-directions .section {
  margin-bottom: 30px;
}

.getting-started-directions .bookmarklet-section {
  text-align: center;
  margin-bottom: 30px;
}

.getting-started-directions .bookmarklet {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 10px;
  cursor: move;
}

.getting-started-directions .bookmarklet:hover {
  background-color: #ccc;
}

.getting-started-directions .sample-sites {
  width: 101px;
  margin: auto;
}

.getting-started-directions .favicon {
  max-width: 16px;
  max-height: 16px;
}

.getting-started-directions a.site-link {
  color: #39b3d7;
}

.getting-started-directions a.site-link:hover {
  color: #2D73A0;
}

.welcome {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.step {
  font-size: 1.3em;
  margin-top: 20px;
}

.entity-img {
  margin: auto;
  width: 100%;
  cursor: pointer;
}

.dropdown-menu.right-bottom-dropdown-menu {
  left: auto;
  right: 0px;
  top: auto;
  bottom: 100%;
  text-align: left;
}

.dropdown-menu.right-top-dropdown-menu {
  left: auto;
  right: 0px;
  text-align: left;
}

.btn-save-changes {
  padding: 2px 3px;
  position: relative;
  top: -1px;
}

.mapview-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.email-entry-input {
  width: 75%;
}

.my-trip-plans-heading {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.create-new-trip-dropdown-link {
  padding-top: 10px;
}

.logged-in-email {
  font-weight: bold;
}

#summary-panel {
  position: fixed;
  top: calc(41px + 10px);
  right: 10px;
  width: 15%;
  height: 40px
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
}

#info-panel {
  position: fixed;
  height: calc(100% - 41px);
  top: 41px;
  width: 40%;
  left: 0;
  z-index: 1;

  background-color: #FAFAFA;
  -webkit-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 0px 3px 0px rgba(0, 0, 0, 0.3);
  transition: left 0.3s;
}

#info-panel.closed {
  left: -40%;
  transition: left 0.3s;
}

#map-panel {
  position: fixed;
  height: calc(100% - 41px);
  top: 41px;
  width: 60%;
  left: 40%;
  transition: all 0.3s;
}

#map-panel.info-panel-closed {
  width: 100%;
  left: 0;
  transition: all 0.3s;
}

#map-panel.full-screen {
  width: 100% !important;
  left: 0 !important;
}

#map-container {
  width: 100%;
  height: 100%;
}

 #map {
  width: 100%;
  height: 100%;
}

#map-buttons {
  z-index: 1;
  position: fixed;
  top: 51px;
  left: 10px;
  font-size: 1.1em;
  transition: left 0.3s;
}

#map-buttons.info-panel-open {
  left: calc(40% + 10px);
}

#summary-panel .trip-plan-header {
  background-color: #fff;
  color: #000;
  position: relative;
  padding: 10px;
}

#summary-panel .trip-plan-header .trip-plan-name {
  font-weight: 500;
}

#summary-panel .trip-plan-header .place-count {
  background-color: #4087F9;
  color: #fff;
  padding: 2px 8px;
  margin: 7px 0 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#summary-panel .trip-plan-header .minimize-link {
  padding-left: 5px;
  border-left: 1px solid #000;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
}

.trip-plan-details-header {
  position: relative;
  height: 280px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url('/static/img/default-cover.jpg');
  margin-bottom: 15px;
  color: #fff;
}

.trip-plan-details-header.full-bleed {
  width: calc(100% + 20px);
  left: -10px;
}

.trip-plan-details-header.clickable {
  cursor: pointer;
}

.trip-plan-details-header.clickable:hover {
  opacity: 0.8;
}

.trip-plan-details-header .trip-plan-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 115px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}

.trip-plan-details-header .trip-plan-info .trip-plan-name {
  font-size: 16pt;
}

.trip-plan-details-header .trip-plan-info .trip-plan-metadata {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 10px;
}

.trip-plan-details-header .trip-plan-info .source-icon {
  width: 16px;
  height: 16px;
}

.add-place-options-dropdown {
  background-color: #4A4A4A;
  border-radius: 0;
  margin: -1px 0px 0px 0px;
  min-width: inherit;
  width: 140px;
}

.header .add-place-options-dropdown {
  position: absolute;
  top: 33px;
}

.add-place-options-dropdown > li > a {
  color: #fff;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.add-place-options-dropdown > li > a:hover {
  background-color: #444444;
  color: #FFFFFF;
}

#main-control-buttons .right-buttons {
  position: absolute;
  top: 10px;
  right: 40px;
}

#main-control-buttons .share-btn {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#main-control-buttons button {
  border-radius: 1px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

#entity-info-box {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 50%;
  padding: 10px;
  background-color: #f3f4f4;
}

#entity-info-box .address {
  color: #000;
  padding-bottom: 5px;
}

#entity-info-box .description {
  white-space: pre-wrap;
}

.infowindow {
  position: relative;
  bottom: 79px;
  font-size: 10pt;
  font-family: 'Avenir';
  font-weight: 300;
}

.infowindow-internal {
  min-width: 200px;
  max-width: 400px;
  text-align: center;
  border-radius: 1px;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.infowindow .info-section {
  background-color: #4A4A4A;
  color: #fff;
  padding: 5px 10px;
  font-size: 11pt;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.infowindow .day-and-star {
  font-size: 9pt;
}

.infowindow .comments-section {
  min-width: 300px;
  background-color: #FFFFFF;
  color: #000;
  text-align: left;
  padding: 0 5px 5px 5px;
  border-bottom: 1px solid #777;
  max-height: 150px;
  overflow-y: auto;
}

.infowindow .comments-section .one-comment {
  margin: 5px 0px;
}

.infowindow .comments-section .one-comment .comment-sidebar {
  display: inline-block;
  vertical-align: top;
}

.infowindow .comments-section .one-comment .comment-timestamp {
  display: inline-block;
  color: #666666;
  font-size: 0.8em;
}

.infowindow .comments-section .one-comment .comment-details {
  display: inline-block;
  width: calc(100% - 24px);
}

.infowindow .comments-section .one-comment .text {
  white-space: pre-wrap;
}

.infowindow .workspace-section {
  background-color: #FFFFFF;
  padding: 5px 10px;
  border-bottom: 1px solid #777;
  font-size: 12px;
}

.infowindow .workspace-section a {
  color: #428bca;
}

.infowindow .workspace-section a:hover {
  color: #2D73A0;
}

.infowindow .workspace-section .directions-planner select {
  margin: 5px 0;
}

.infowindow .workspace-section .directions-planner .go-button {
  padding: 3px 6px;
}

.infowindow .inline-comment-editor .author-name {
  font-weight: bold;
  text-align: left;
  margin-bottom: 5px;
}

.infowindow .inline-comment-editor a.cancel-link {
  color: #000;
}

.infowindow .inline-comment-editor a.cancel-link:hover {
  color: #2D73A0;
}

.marker-tools {
  background-color: #fff;
  font-size: 14pt;
  padding: 5px;
  min-width: 130px;
}

.marker-tools .control-toggle {
  display: inline-block;
  position: absolute;
  right: 5px;
  padding: 0 10px;
  border-left: 1px solid #000;
}

.marker-tools a {
  padding: 0 3px;
}

.marker-tools a.already-clipped {
  color: #777;
}

.results-infowindow .tools-section {
  background-color: #fff;
  font-size: 10pt;
  padding: 5px;
}

.results-infowindow .tools-section a {
  color: #428bca;
}

.results-infowindow .tools-section a:hover {
  color: #2D73A0;
}

.results-infowindow .tools-section .save-confirmation {
  color: rgb(39, 172, 113);
}

.clipping-iframe {
  width: 500px;
  height: 400px;
}

.note-text {
  white-space: pre-wrap;
}

.header-img {
  height: 200px;
  width: 100%;
}

#lodging-header-img {
  background-image: url(/static/img/hotel-header-md.jpg);
}

#food_and_drink-header-img {
  background-image: url(/static/img/restaurant-header-md.jpg);
}

#attractions-header-img {
  background-image: url(/static/img/attraction-header-md.jpg);
}

@media (min-width: 1441px) {
  #Hotel-header-img {
    background-image: url(/static/img/hotel-header-lg.jpg);
  }
  #Restaurant-header-img {
    background-image: url(/static/img/restaurant-header-lg.jpg);
  }
  #Attraction-header-img {
    background-image: url(/static/img/attraction-header-lg.jpg);
  }
}

/* Add Place Panels */

.add-place-panel {
  width: 100%;
  height: 100%;
}

.add-place-panel .header {
  color: #fff;
  background-color: #4A90E2;
  -webkit-font-smoothing:antialiased;
  font-size: 1.2em;
  padding: 10px;
  position: relative;
  height: 44px;
}

.add-place-panel .close-control {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16pt;
}

.add-place-panel .header .breadcrumb-separator {
  font-size: 0.6em;
  line-height: 1.2em;
  top: -1px;
}

.add-place-panel .header .header-mode-control {
  position: relative;
}

.add-place-panel .header .mode-dropdown-control {
  cursor: pointer;
  padding: 10px;
}

.add-place-panel .header .mode-dropdown-control:hover {
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.2));
  background-color: transparent;  background-color: #4A90E2;
}

.add-place-panel .panel-body {
  height: calc(100% - 44px);
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
}

.add-place-panel .search-box-container {
  margin: 10px 0;
  position: relative;
}

.add-place-panel .search-box-container .search-spinner {
  text-align: center;
  position: absolute;
  top: 7px;
  width: 100%;
}

.add-place-panel .search-panel,
.add-place-panel .web-search-panel,
.add-place-panel .travel-guides-panel,
.add-place-panel .clip-my-own-panel {
  height: 100%;
  overflow-y: scroll;
  padding: 15px;
}

.add-place-panel .site-icon {
  max-width: 16px;
  max-height: 16px;
}

.add-place-panel .web-search-panel .sample-site-selector-row {
  text-align: center;
  margin: 10px 0;
}

.add-place-panel .web-search-panel .sample-site-selector-row .dropdown-toggle {
  width: 115px;
}

.add-place-panel .web-search-panel .inline-dropdown-parent {
  position: relative;
}

.add-place-panel .web-search-panel .inline-dropdown-parent .dropdown-menu {
  text-align: left;
}

.add-place-panel .web-search-panel .custom-search-link {
  font-style: italic;
}

.add-place-panel .web-search-panel .custom-query-row {
  display: inline-block;
  padding: 3px 20px;
  width: 180px;
}

.add-place-panel .web-search-panel .custom-query-input {
  display: inline-block;
  width: 160px;
  height: 28px;
  position: relative;
  left: -10px;
}

.add-place-panel .web-search-panel .search-spinner {
  text-align: center;
}

.add-place-panel .web-search-panel .search-results {
  margin-top: 20px;
}

.guides-panel .guide-breadcrumb {
  font-size: 13pt;
  margin-bottom: 10px;
}

.guides-panel .description {
  white-space: pre-line;
  text-align: justify;
  margin-bottom: 15px;
}

.guides-panel .tags {
  margin-bottom: 10px;
}

.guides-panel .source-link {
  margin-bottom: 15px;
}

.add-your-own-panel .sub-nav {
  margin-bottom: 15px;
}

.add-your-own-panel .header {
  text-align: center;
}

.add-your-own-panel .no-search-results {
  text-align: center;
  margin-top: 10px;
  font-size: 11pt;
  font-weight: bold;
}

.add-your-own-panel .search-panel .search-input {
  position: relative;
  width: 80%;
  margin: auto;
}

.add-your-own-panel .search-spinner {
  position: absolute;
  top: 6px;
  width: 100%;
  text-align: center;
}

.add-your-own-panel .results-header {
  font-size: 11pt;
}

.add-your-own-panel .search-results {
  padding-top: 20px;
}

.add-your-own-panel .clipper-panel .bookmarklet-section {
  text-align: center;
  margin: 20px auto;
}

.add-your-own-panel .clipper-panel .bookmarklet {
  display: inline-block;
  padding-right: 10px;
}

.add-your-own-panel .clipper-panel .bookmarklet-link {
  padding: 10px;
  border: 1px solid #357ebd;
  border-radius: 2px;
  background-color: #428bca;
  color: #fff;
  cursor: move;
}

.add-your-own-panel .info-text {
  margin: 0 20px 10px 20px;
}

.add-your-own-panel .clipper-panel .help-section {
  text-align: center;
}

.add-your-own-panel .clipper-panel .help-section .clipper-help-details {
  text-align: left;
}

.add-your-own-panel .sample-sites {
  margin-left: 60px;
}

.add-your-own-panel .sample-sites .site-icon {
  width: 16px;
  height: 16px;
}

.add-your-own-panel .paste-link-panel .paste-input {
  width: 80%;
  margin: 0 auto 20px auto;
  position: relative;
}

.add-your-own-panel .paste-link-panel .no-places {
  margin-top: 10px;
}

.add-place-panel .photo-carousel .carousel-content .image-carousel .carousel-control .icon-next {
  font-size: 60px !important;
  top: calc(50% - 30px) !important;
  margin: none;
  left: 16px;
}

.add-place-panel .photo-carousel .carousel-content .image-carousel .carousel-control .icon-prev {
  font-size: 60px !important;
  top: calc(50% - 30px) !important;
  margin: none;
}

.add-place-panel .clip-my-own-panel .sample-sites-hover-window {
  padding: 10px 20px;
  width: 75%;
  position: absolute;
  left: 12.5%;
  border: 1px solid rgba(0, 0, 0, .5)
  border-radius: 2px;
  list-style: none;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 1;
  background-color: #FAFAFA;
}

.add-place-panel .clip-my-own-panel .section-separator {
  border-top: 1px solid #CCCCCC;
}

.add-place-panel .clip-my-own-panel .bookmarklet {
  margin: 20px 0;
  text-align: center;
}

.add-place-panel .clip-my-own-panel .bookmarklet-link {
  display: inline-block;
  padding: 15px 25px;
  border: 1px solid #357ebd;
  border-radius: 2px;
  background-color: #428bca;
  color: #fff;
  cursor: move;
}

.add-place-panel .clip-my-own-panel .learn-more-chevron {
  font-size: 10px;
}

.add-place-panel .clip-my-own-panel .results,
.add-place-panel .clip-my-own-panel .no-results {
  margin-top: 20px;
}

.add-place-panel .clip-my-own-panel .invalid-url {
  text-align: center;
  font-size: 12pt;
}

/* Custom calculation to support 360px image/map */

.modal-dialog {
  width: 782px;
}

.flush-left {
  padding-left: 0px;
  padding-right: 10px;
}

.flush-right {
  padding-right: 0px;
  padding-left: 10px;
}

.edit-place-modal .modal-dialog {
  width: 80%;
}

.edit-place {
  padding: 20px;
}

.edit-place .edit-header {
  margin-bottom: 20px;
  position: relative;
}

.edit-place .button-panel {
  position: absolute;
  top: 0;
  right: 0;
}

.edit-place .editor-title {
  font-size: 18pt;
  margin-right: 30px;
  vertical-align: middle;
}

.edit-place .map-container {
  width: 100%;
  height: 250px;
}

.edit-place .map {
  width: 100%;
  height: 100%;
}

.edit-place .editor-body input[type='text'],
.edit-place .editor-body select,
.edit-place .editor-body textarea,
.edit-place .editor-body .map-container {
  margin-bottom: 15px;
}

.edit-place .editor-body input[type='radio'] {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border: none;
  margin: 0;
}

.edit-place .description-input {
  height: 250px;
}

.edit-place .editable-carousel {
  max-height: 300px;
  text-align: center;
  position: relative;
}

.edit-place .editable-carousel .photo-top-control,
.edit-place .editable-carousel .photo-bottom-control {
  position: absolute;
  width: 100%;
}

.edit-place .editable-carousel .photo-top-control a,
.edit-place .editable-carousel .photo-bottom-control a {
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}

.edit-place .editable-carousel .photo-top-control a:hover,
.edit-place .editable-carousel .photo-bottom-control a:hover {
  color: #428bca;
}

.edit-place .editable-carousel .photo-top-control {
  top: 10px;
}

.edit-place .editable-carousel .photo-bottom-control {
  bottom: 10px;
}

.edit-place .precision-and-star-strip {
  position: relative;
}

.edit-place .precision-and-star-strip .star-control {
  position: absolute;
  right: 0;
  top: 6px;
}

.trip-plan-settings-editor-modal .modal-dialog {
  width: 80%;
}

.trip-plan-settings-editor {
  margin: 20px;
}

.trip-plan-settings-editor .header {
  position: relative;
  margin-bottom: 20px;
}

.trip-plan-settings-editor .header .title {
  font-size: 18pt;
}

.trip-plan-settings-editor .header .button-panel {
  position: absolute;
  top: 0;
  right: 0;
}

.trip-plan-settings-editor .editor-body .description-input {
  height: 250px;
}

.trip-plan-settings-editor .editor-body .cover-img-container {
  position: absolute;
  text-align: center;
  max-width: 100%;
  max-height: 300px;
}

.trip-plan-settings-editor .editor-body .cover-img-container img {
  max-width: 100%;
  max-height: 100%;
}

.trip-plan-settings-editor .cover-img-container .img-control {
  position: absolute;
  width: 100%;
  text-align: center;
}

.trip-plan-settings-editor .cover-img-container .img-control.top-control {
  top: 10px;
}

.trip-plan-settings-editor .cover-img-container .img-control.bottom-control {
  bottom: 10px;
}

.trip-plan-settings-editor .cover-img-container .img-control a {
  color: #fff;
  text-shadow: 2px 2px 3px #000;
}

.trip-plan-settings-editor .cover-img-container .img-control a:hover {
  color: #428bca;
}

.trip-plan-settings-editor .cover-img-editor .cover-img-drop-target {
  width: 100%;
  height: 300px;
  padding-top: 150px;
  border: 1px dashed #ccc;
  border-radius: 3px;
  resize: none;
  text-align: center;
  cursor: default;
}

.trip-plan-settings-editor .cover-img-editor .cover-img-drop-target.dragactive {
  background-color: blue;
  border: 1px solid red;
}

.sharing-settings-editor {
  margin: 20px;
}

.sharing-settings-editor .header {
  position: relative;
  margin-bottom: 20px;
}

.sharing-settings-editor .header .title {
  font-size: 18pt;
}

.sharing-settings-editor .header .button-panel {
  position: absolute;
  top: 0;
  right: 0;
}

.sharing-settings-editor .email-input {
  width: 400px;
}

.sharing-settings-editor .collaborator .remove-link {
  display: none;
}

.sharing-settings-editor .collaborator:hover .remove-link {
  display: inline;
}

.sharing-settings-editor .share-url {
  cursor: text;
}

.reclip-confirmation-modal {
  min-height: 150px; 
  margin: 20px;
}

.reclip-confirmation-trip-plan-dropdown {
  margin: 20px 0;
}

.pac-container {
  z-index: 1100;
}

/* Day Planner */

.day-planner-modal-window {
  height: 80%;
}

.day-planner-modal-window.modal {
  top: 10%;
}

.day-planner-modal-window .modal-dialog {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.day-planner-modal-window .modal-content {
  height: 100%;
  overflow: hidden;
  background-color: #EAEAEA;
}

.day-planner-modal {
  height: 100%;
  padding: 20px;
}

.day-planner-body {
  height: calc(100% - 44px);
  width: 100%;
  overflow: hidden;
}

.day-planner-body .row-fluid {
  height: 100%;
}

.day-planner-header {
  margin-bottom: 10px;
}

.day-planner-header-text {
  font-size: 24px;
}

.day-planner-persistent-controls {
  float: right;
  position: relative;
  top: -34px;
}

.day-planner-left-panel {
  height: calc(100% - 20px);
  padding-top: 10px;
}

.day-planner-left-panel .left-panel-inner {
  padding: 10px;
}

.day-planner-right-panel {
  height: 100%;
  padding: 10px;
  overflow-y: auto;
}

.day-planner-left-panel-drag-area {
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
}

.day-planner-left-panel-drag-area.dragactive {
  background-color: #f5f5f5;
}

.day-planner-left-panel-drag-area.dragover {
  box-shadow: 0px 0px 3px 3px rgba(126, 173, 224, 0.8) !important;
}

.day-planner-drop-target {
  width: 80%;
  height: 20px;
  margin: auto;
}

.day-planner-drop-target-inner {
  width: 100%;
  height: 50%;
  position: relative;
  top: 5px;
  border-radius: 10px;
}

.day-planner-drop-target.dragactive .day-planner-drop-target-inner {
  background-color: #bbb;
}

.day-planner-drop-target.dragover .day-planner-drop-target-inner {
  background-color: #3276b1;
}

.day-planner-draggable-entity {
  width: 80%;
  margin: 0 auto;
  cursor: move;
  position: relative;
}

.day-planner-draggable-entity .one-entity-listing:hover {
  background-color: #bbb;
}

.day-planner-draggable-entity.existing-item-dragactive {
  opacity: 0.5;
}

.day-planner-unsorted-item {
  margin-bottom: 10px;
}

.day-planner-controls {
  margin: 20px 0px;
}

.day-planner-add-day-button {
  display: block;
  margin: auto;
}

.day-planner-panel-header {
  text-align: center;
  margin: 0;
  padding-top: 10px;
}

.day-planner-one-day {
  margin-bottom: 10px;
  padding: 5px 10px 10px 10px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
}

.day-planner-one-day.dragover {
  box-shadow: 0px 0px 3px 3px rgba(126, 173, 224, 0.8) !important;
}

.day-planner-day-cta {
  text-align: center;
  font-style: italic;
}

.day-planner-one-day-controls {
  float: right;
  position: relative;
  top: -28px;
}

.day-planner-one-day-note {
  white-space: pre-wrap;
  margin: 0px 10px;
}

.draggable-entity-controls {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
}

.day-planner-edit-note-control {
  padding-left: 15px;
  font-size: 14px;
}

.day-planner-edit-note-control a {
  color: #666;
}

.day-planner-edit-note-control a:hover {
  color: #428bca;
}

.draggable-entity-controls span {
  opacity: 0.5;
}

.day-planner-right-panel .day-planner-draggable-entity:hover .draggable-entity-controls {
  display: block;
}

.start-new-trip-modal-window .modal-content {
  margin: 100px auto;
}

.start-new-trip-modal {
  padding: 20px;
}

.bulk-clip-modal-window .modal-dialog {
  height: 80%;
}

.bulk-clip-modal-window .modal-content {
  height: 100%;
  overflow-y: hidden;
}

.bulk-clip-modal {
  padding: 20px;
  height: 100%;
}

.bulk-clip-modal h2 {
  margin-top: 0;
}

.bulk-clip-modal .clipper-body {
  margin-top: 10px;
}

.bulk-clip-modal .entity-list {
  height: calc(100% - 73px);
  overflow-y: scroll;
  background-color: #4A4A4A;
  color: #fff;
  padding: 0;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bulk-clip-modal .entity-list .select-controls {
  text-align: right;
  padding: 5px 10px 0 0;
}

.bulk-clip-modal .entity-list .select-controls a,
.bulk-clip-modal .confirmation-panel a {
  color: #428bca;
}

.bulk-clip-modal .entity-list .select-controls a:hover,
.bulk-clip-modal .confirmation-panel a:hover {
  color: #2D73A0;
}

.bulk-clip-modal .one-entity-listing {
  cursor: pointer;
}

.bulk-clip-modal .one-entity-listing:hover {
  background-color: #444;
}

.bulk-clip-modal .one-entity-listing.selected {
  background-color: #666666 !important;
}

.bulk-clip-modal .save-summary {
  text-align: center;
  font-size: 14pt;
  margin-bottom: 25px;
}

.bulk-clip-modal .button-panel {
  text-align: center;
  margin-top: 20px;
}

.bulk-clip-modal .confirmation-panel {
  font-size: 14pt;
  text-align: center;
}

.bulk-clip-modal .confirmation-panel .close-button {
  margin-top: 20px;
}

.gmaps-importer-modal {
  margin: 20px;
}

.gmaps-importer-modal h3 {
  text-align: center;
}

.gmaps-importer-modal .paste-prompt-text {
  font-size: 12pt;
  text-align: center;
}

.gmaps-importer-modal .search-spinner {
  position: relative;
  top: -28px;
  left: 50%;
}

.gmaps-importer-modal .save-spinner {
  text-align: center;
}

.gmaps-importer-modal .import-success-text {
  font-size: 12pt;
}

.gmaps-importer-modal .map-name {
  color: #000;
}

.gmaps-importer-modal .buttons {
  text-align: center;
  margin-top: 10px;
}

.gmaps-importer-modal a {
  color: #428bca;
}

.gmaps-importer-modal a:hover {
  color: #2D73A0;
}

.tutorial-overlay .backdrop {
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tutorial-overlay .connector {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 15px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  -moz-transform: scale(.9999);
  -webkit-transform: scale(.9999);
  position: absolute;
  top: -15px;
  left: 58px;
}

.tutorial-overlay .content {
  background-color: #fff;
  color: #000;
  padding: 10px 10px 0 10px;
  position: fixed;
  top: 104px;
  left: calc(20% + 133px);
  max-width: 320px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0, .3);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0, .3);
  box-shadow: 0 6px 12px rgba(0,0,0, .3);
}

.tutorial-overlay .header {
  padding: 5px;
  background-color: #000;
  color: #fff;
  font-size: 14pt;
  text-align: center;
}

.tutorial-overlay .content-body {
  padding: 10px;
}

.tutorial-overlay .intro {
  font-size: 12pt;
}

.tutorial-overlay .section {
  margin: 20px 0;
}

.tutorial-overlay .section-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 14pt;
  padding-right: 5px;
}

.tutorial-overlay .section-text {
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 24px);
}

.tutorial-left-panel .entity-placeholder {
  padding: 7px 10px;
}

.tutorial-left-panel .entity-placeholder .img-placeholder {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  border-radius: 20px;
}

.tutorial-left-panel .entity-placeholder .details-placeholder {
  display: inline-block;
  width: 100%;
  max-width: calc(100% - 50px);
  height: 40px;
  margin-left: 5px;
  border: 1px dashed #fff;
}

.after-new-trip-plan-panel {
  position: fixed;
  top: 41px;
  right: 20px;
}

.after-new-trip-plan-panel .connector {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 15px solid #fff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  -moz-transform: scale(.9999);
  -webkit-transform: scale(.9999);
  position: fixed;
  top: calc(41px + 5px);
  /* left: computed dynamically; */
}

.after-new-trip-plan-panel .panel-body {
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  padding: 20px;
  position: relative;
  top: 20px;
  width: 350px;
}

.after-new-trip-plan-panel .close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.after-new-trip-plan-panel .header {
  font-weight: bold;
  font-size: 13pt;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}

.after-new-trip-plan-panel .button-panel {
  text-align: center;
  margin-top: 20px;
}

.after-new-trip-plan-panel .button-panel .button-separator {
  margin-left: 10px;
}
