html, body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  background-color: #FFFFFF;
}

/* AngularJS and Bootstrap fix */

.nav, .pagination, .carousel, .panel-title a { 
  cursor: pointer; 
}

/* Navigation */

#upper-navbar {
  min-height: 30px;
  background-color: #FFFFFF;
  margin-bottom: 0px;
}

#logo {
  padding: 3px 30px;
  font-family: 'Raleway';
  font-size: 1.2em;
}

#logo a, #logo a:hover {
  color: #000;
  text-decoration: none;
}

#trip-plan-title {
  text-align: center;
  font-size: 14pt;
  font-weight: bold;
}

#my-account-link {
  text-align: right;
  padding: 4px 30px;
}

#my-account-link a:hover {
  text-decoration: none;
}

.upper-nav {
  width: 100%;
  height: 30px;
}

#edit-title-btn {
  background-color: #FFFFFF;
  position: relative;
  top: -2px;
}

#lower-navbar {
  position: fixed;
  top: 30px;
  min-height: 42px;
  background-color: #3b97d3;
}

.lower-nav {
  width: 100%;
  height: 42px;
}

.entity-nav a {
  color: #FFFFFF;
}

.navigation-link {
  text-align: center;
  padding: 11px 0px;
}

.navigation-link:hover {
  background-color: #2D73A0;
}

.navigation-link a:hover {
  text-decoration: none;
}

#url-box input {
  position: relative;
  top: 6px;
  text-align: center;
  height: 30px;
}

#list-map-btns {
  float: right;
  padding: 6px 30px 6px 6px;
}

.nav-btn {
  background-color: #3b97d3;
  color: #FFFFFF;
  border-color: #2D73A0;
}

.nav-btn:hover {
  background-color: #2D73A0;
  color: #FFFFFF;
  border-color: #2D73A0;
}

#trip-plan-title-input {
  width: 300px;
  height: 24px;
  position: relative;
  top: -1px;
}

.pencil-edit {
  width: 25px;
  height: 25px;
}

/* Main Container */

#entity-container {
  width: 50%;
  margin-top: 73px;
}

.one-entity-type {
  margin-bottom: 20px;
}

.entity-type-header {
  cursor: pointer;
  margin: 0px;
  padding: 10px;
}

.entity-type-header a:hover {
  text-decoration: none;
}

.toggle-chevron {
  position: relative;
  font-size: 0.6em;
  float: right;
  top: 6px;
}

.columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  -webkit-column-fill: auto;
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -moz-column-fill: auto;
  column-count: 2;
  column-gap: 10px;
  column-fill: auto;
  height: 100%;
  padding: 0 10px;
}

.one-entity {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  margin: 0 0px 10px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;
  padding-bottom: 5px;
}

.clipped-pages-header {
  padding: 10px;
}

.clipped-pages {
  padding: 0px 10px;
}

.getting-started-directions {
  padding: 20px 40px;
  font-size: 1.1em;
}

.welcome {
  font-size: 1.6em;
  margin-bottom: 10px;
}

.step {
  font-size: 1.3em;
  margin-top: 20px;
}

.columns:hover .one-entity:hover {
  /*border: 1px solid #A4C5F3;*/
}

.one-entity-title {
  margin: 5px;
  font-size: 1.1em;
  text-align: center;
}

.one-entity-type-img {
  float: right;
  position: relative;
  top: -3px;
}

.one-entity-rating {
  margin: 5px 5px;
}

.one-entity-source {
  margin: 5px 5px;
}

.entity-img {
  margin: auto;
  width: 100%;
  cursor: pointer;
}

.entity-description {
  margin: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.entity-edit-controls {
  position: relative;
  float: right;
  text-align: right;
  margin: 5px 5px;
  top: -30px;
}

.entity-description-input {
  width: calc(100% - 10px);
  margin: 10px 5px;
  padding: 5px;
}

.btn-save-changes {
  padding: 2px 3px;
  position: relative;
  top: -1px;
  background-color: #3b97d3;
  color: #FFFFFF;
  border-color: #2D73A0;
}

.btn-save-changes:hover {
  background-color: #2D73A0;
  color: #FFFFFF;
  border-color: #2D73A0;
}

.left-footer {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.offset-anchor {
  position: relative;
  top: -73px;
  display: block;
  visibility: hidden;
}

.account-dropdown {
  position: fixed;
  z-index: 10000;
  width: 300px;
  top: 30px;
  right: 0px;
  background-color: white;
  padding: 20px;
  list-style: none;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);

}

.account-dropdown-login-info {
  padding-bottom: 10px;
}

.email-entry-input {
  width: 75%;
}

.logout-link {
  position: relative;
  float: right;
}

.btn-login {
  position: relative;
  float: right;
  top: -34px;
}

.my-trip-plans-heading {
  font-size: 1.2em;
  padding-bottom: 10px;
}

.create-new-trip-dropdown-link {
  padding-top: 10px;
}

.logged-in-email {
  font-weight: bold;
}

#map-container {
  position: fixed;
  width: 50%;
  height: 100%;
  left: 50%;
  top: 70px;
}

#map {
  width: 100%;
  height: 100%;
}

.clipping-iframe {
  width: 500px;
  height: 400px;
}

/* Guide View */

.guideview-container {
  width: 100%;
  margin-top: 73px;
}

.guideview-entity-type-header {
  text-align: center;
  font-weight: bold;
  font-size: 24pt;
  padding-top: 20px;
}

.guideview-one-entity-title {
  text-align: center;
  margin: 20px 0;
}

.guideview-entity-even {
  background-color: #eee;
}

.guideview-entity-odd {
  background-color: #fff;
}

.guideview-imgs-showcase {
  width: 65%;
  margin: 0 auto;
}

.guideview-img-masonry-brick {
  width: calc(50% - 10px);
  margin-bottom: 10px;
}

.guideview-masonry-img {
  width: 100%;
}


/* Modals */

.clipping-status-modal {
  padding: 30px;
  text-align: center;
}
