<!doctype html>
<html>
<head>
  <title>WhereFare Admin</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400|Raleway:400">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/static/img/globe-bw.png">
  <style>
    html, body {
      width: 100%;
    }
    h1 {
      text-align: center;
    }
    .content {
      margin: 20px;
      text-align: center;
    }
    .link {
      padding: 5px 0;
    }
  </style>
</head>
<body>
  <h1>WhereFare Admin Tools</h1>
  <div class="content">
    <div class="link">
      <a href="/admin/allguides">All Guides (slow)</a>
    </div>
    <div class="link">
      <a href="/admin/recentguides">Recent Guides</a>
    </div>
    <div class="link">
      <a href="/admin/sessions">Sessions</a>
    </div>
  </div>
</body>
</html>
