<!doctype html>
<html>
<head>
  <title>Session Visualizer</title>
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400|Raleway:400">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/static/img/globe-bw.png">
  <style>
    html, body {
      width: 100%;
      height: 100%;
      font-family: 'Avenir', Helvetica, Arial, sans-serif;
    }

    body {
      padding: 10px;
    }

    .date-select {
      padding: 10px 0;
    }

    .main-container {
      margin-bottom: 30px;
    }

    .header-row {
      font-weight: bold;
    }
  </style>
  <script>
  function dateChanged(dateStr) {
    location.href = '/admin/sessions?date=' + dateStr;
  }
  </script>
</head>
<body>
  <h1>Session Visualizer</h1>
  <div class="container-fluid main-container">
    <div class="row header-row">
      <div class="col-md-4">
        Url
      </div>
      <div class="col-md-4">
        Detail
      </div>
      <div class="col-md-4">
        Timestamp
      </div>
    </div>
    <div class="row header-row">
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        Event Name
      </div>
      <div class="col-md-2">
        Event Location
      </div>
      <div class="col-md-2">
        Event Value
      </div>
      <div class="col-md-4">
      </div>
    </div>
    {% for event in events %}
    <div class="row">
      {% if event.request %}
        <div class="col-md-4">
          {{event.request.url}}
        </div>
        <div class="col-md-4">
          {% if event.trip_plan %}
            {{event.trip_plan.name}}
          {% endif %}
        </div>
        <div class="col-md-4">
          {{event.formatted_timestamp()}}
        </div>
      {% else %}
        <div class="col-md-2">
        </div>
        <div class="col-md-2">
          {{event.interaction.event_name}}
        </div>
        <div class="col-md-2">
          {{event.interaction.event_location}}
        </div>
        <div class="col-md-2">
          {{event.interaction.event_value}}
        </div>
        <div class="col-md-4">
          {{event.formatted_timestamp()}}
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</body>
</html>
