{% if request.args.get('iframe') %}
  {% extends 'flask_user/user_base_iframe.html' %}
{% else %}
  {% extends 'flask_user/user_base_standalone.html' %}
{% endif %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<div class="modal-logo">
  WhereFare
</div>
<div class="modal-action-header">
  Change your password
</div>

<form action="" method="POST" class="form" role="form">
  {{ form.hidden_tag() }}
  {{ render_field(form.old_password, autofocus=true, tabindex=10) }}
  {{ render_field(form.new_password, tabindex=20) }}
  {% if user_manager.enable_retype_password %}
    {{ render_field(form.retype_password, tabindex=30) }}
  {% endif %}
  <div class="btn-wrapper">
    <input type="submit" class="btn btn-cta" value="Submit">
  </div>
</form>

{% endblock %}
