{% if request.args.get('iframe') %}
  {% extends 'flask_user/user_base_iframe.html' %}
{% else %}
  {% extends 'flask_user/user_base_standalone.html' %}
{% endif %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<div class="modal-logo">
  TravelClipper
</div>
<div class="modal-action-header">
  Reset your password
</div>

<div class="form-wrapper">
  <form action="" method="POST" class="form" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.email, label_visible=False, autofocus=true, placeholder='Email Address', tabindex=10) }}
    <div class="btn-wrapper">
      <input type="submit" class="btn modal-btn" value="Send password reset email">
    </div>
  </form>
</div>

{% endblock %}
