{% extends 'flask_user/user_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<style type="text/css">
  body {
    max-width: 50%;
    margin: auto;
  }
</style>
<script type="text/javascript">
  $(function() {
    $('#email').focus();
  })
</script>

<h1>Forgot Password</h1>

<form action="" method="POST" class="form" role="form">
  {{ form.hidden_tag() }}
  {{ render_field(form.email, tabindex=10) }}
  {{ render_submit_field(form.submit, tabindex=90) }}
</form>

{% endblock %}
