{% if request.args.get('iframe') %}
  {% extends 'flask_user/user_base_iframe.html' %}
{% else %}
  {% extends 'flask_user/user_base_standalone.html' %}
{% endif %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<h1>Forgot Password</h1>

<form action="" method="POST" class="form" role="form">
  {{ form.hidden_tag() }}
  {{ render_field(form.email, autofocus=true, tabindex=10) }}
  {{ render_submit_field(form.submit, tabindex=90) }}
</form>

{% endblock %}
