{% if request.args.get('iframe') %}
  {% extends 'flask_user/user_base_iframe.html' %}
{% else %}
  {% extends 'flask_user/user_base_standalone.html' %}
{% endif %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<div class="modal-logo">
  TravelClipper
</div>
<div class="modal-action-header">
  Please Log In
</div>

<div class="form-wrapper">

  <form action="" method="POST" class="form" role="form" target="_top">
    {{ form.hidden_tag() }}

    {# Can change to form.username to switch to username login #}
    {% set field = form.email %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
      {{ field(class_='form-control', placeholder='Email address', autofocus=true, tabindex=110) }}
      {% if field.errors %}
        {% for e in field.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
    </div>

    {# Password #}
    {% set field = form.password %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
      {{ field(class_='form-control', placeholder='Password', tabindex=120) }}
      <div id="forgot-password">
        <a href="{{ url_for('user.forgot_password', iframe=request.args.get('iframe')) }}" tabindex='195'>
        Forgot your password?
        </a>
      </div>
      {% if field.errors %}
        {% for e in field.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
    </div>

    {# Submit button #}
    <div class="btn-wrapper">
      <input type="submit" class="btn modal-btn" value="Log In">
    </div>
    <div class="modal-bottom-cta">

    </div>
    <div class="modal-bottom-cta">
      <a href="{{ url_for('user.register', next=request.args.get('next'), iframe=request.args.get('iframe')) }}" tabindex='190'>
        New here? Register.
      </a>
    </div>
  </form>
</div>

{% endblock %}
