{% if request.args.get('iframe') %}
  {% extends 'flask_user/user_base_iframe.html' %}
{% else %}
  {% extends 'flask_user/user_base_standalone.html' %}
{% endif %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<style>
  body {
    height: 100%;
    overflow-y: scroll;
  }
</style>

<script>
  $(function() {
    $('#first_name').change(function() {
      if (!$('#display_name').val() && $('#first_name').val()) {
        $('#display_name').val($('#first_name').val());
      }
    });
    $('#last_name').change(function() {
      if ($('#last_name').val() && $('#display_name').val() && $('#display_name').val() == $('#first_name').val()) {
        var defaultName = $.trim(
          $('#first_name').val() + ' ' + $('#last_name').val().substring(0, 1));
        $('#display_name').val(defaultName);
      }
    });
  });
</script>

<div class="modal-logo">
  TravelClipper
</div>
<div class="modal-action-header">
  Sign up to browse and build travel guides
</div>

<div class="form-wrapper">
  <form action="" method="POST" novalidate formnovalidate class="form" role="form">
    {{ form.hidden_tag() }}

    {# Would be preferable to make 'next' a hidden field and it would get rendered
       automatically in hidden_tag(), but it's not clear how to pre-populate it
       with the value from the url in that case without overriding the view handler. #}
    <div style="display: none">
      {{ render_field(form.next, value=request.args.get('next', '')) }}
      {{ render_field(form.iframe, value=request.args.get('iframe', '')) }}
    </div>
    <span id="first-name-input">
      {{ render_field(form.first_name, label_visible=False, placeholder='First name', autofocus=true, tabindex=220) }}
    </span>
    <span id="last-name-input">
      {{ render_field(form.last_name, label_visible=False, placeholder='Last name', tabindex=221) }}
    </span>
    {# Can change to form.username to switch to username login #}
    {% set field = form.email %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
      {{ field(class_='form-control', placeholder='Email address', tabindex=210) }}
      {% if field.errors %}
        {% for e in field.errors %}
          <p class="help-block">{{ e }}</p>
        {% endfor %}
      {% endif %}
    </div>

    {{ render_field(form.display_name, label_visible=False, placeholder='Display name (your publicly visible user name)', tabindex=222) }}

    {{ render_field(form.password, label_visible=False, placeholder='Password', tabindex=230) }}

    {% if user_manager.enable_retype_password %}
      {{ render_field(form.retype_password, label_visible=False, placeholder='Confirm password', tabindex=240) }}
    {% endif %}
    <div class="btn-wrapper">
      <input type="submit" class="btn modal-btn" value="Sign Up">
    </div>
    <div class="modal-bottom-cta">
      <a href="{{ url_for('user.login', next=request.args.get('next', ''), iframe=request.args.get('iframe')) }}" tabindex='290'>
        Already registered? Sign in.
      </a>
    </div>
  </form>
</div>

{% endblock %}
