{# This is a custom template that's not an override of a Flask-User template. #}

{% if request.args.get('iframe') %}
  {% extends 'flask_user/user_base_iframe.html' %}
{% else %}
  {% extends 'flask_user/user_base_standalone.html' %}
{% endif %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_submit_field %}

<div class="modal-logo">
  WhereFare
</div>
<div class="modal-action-header">
  Please confirm your account by checking your email.
</div>

{% if request.args.get('iframe') %}
  <script>
    function closeParentModal() {
      window.parent['closeLoginModal']();
    }
  </script>

  <div class="btn-wrapper">
    <button class="btn btn-default" onclick="closeParentModal()">Close</button>
  </div>
{% else %}
  <div class="btn-wrapper">
    <a href="/">Back to Home</a>
  </div>
{% endif %}

{% endblock %}
