<!doctype html>
<html>
<head>
  <title>{% block title %}WhereFare{% endblock %}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Raleway:300|700">
  <link rel="stylesheet" href="/static/css/account_modal.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="shortcut icon" href="/static/img/globe.png">
  {% set suppress_uservoice = True %}
  {% include 'analytics.html' %}
</head>
<body>
  {% block flash_messages %}
    {%- with messages = get_flashed_messages(with_categories=true) -%}
      {% if messages %}
        {% for category, message in messages %}
          {% if category=='error' %}
            {% set category='danger' %}
          {% endif %}
          <div class="alert alert-{{category}}">{{ message|safe }}</div>
        {% endfor %}
      {% endif %}
    {%- endwith %}
  {% endblock %}

  {% block content %}
  {% endblock %}
</body>
</html>
