<!doctype html>
<html>
<head>
  <title>Travel Clipper</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="//cdn.jsdelivr.net/underscorejs/1.6.0/underscore-min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/clipper.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <style>
    html, body, #map {
      width: 100%;
      height: 100%;
    }

    .map-marker.search-result-marker.selected .marker-shape svg {
      stroke: #fff;
      stroke-width: 5px;
    }
  </style>
  <script>
    function ClipperMapCtrl($scope, $clipperStateModel, $window) {
      var me = this;
      $scope.tripPlanEntities = null;
      $scope.resultEntities = null;

      $scope.mapState = {map: null};
      $scope.mapOptions = {
        center: new google.maps.LatLng(0, 0),
        zoom: 1,
        panControl: false,
        scaleControl: true,
        streetViewControl: false,
        mapTypeControlOptions: {
          mapTypeIds: [google.maps.MapTypeId.ROADMAP, google.maps.MapTypeId.SATELLITE],
          position: google.maps.ControlPosition.RIGHT_BOTTOM
        },
        zoomControlOptions: {
          position: google.maps.ControlPosition.RIGHT_TOP
        }
      };

      $scope.mapReady = function($map) {
        me.sendMessage('tc-map-ready');
      };

      this.plotTripPlanEntities = function(data) {
        $scope.tripPlanEntities = data['entities'];
        this.updateMapBounds();
      };

      this.plotResultEntities = function(data) {
        $scope.resultEntities = data['entities'];
        this.updateMapBounds();
      };

      this.updateMapBounds = function() {
        var allEntities = ($scope.tripPlanEntities || []).concat($scope.resultEntities || []);
        var bounds = new google.maps.LatLngBounds();
        $.each(allEntities, function(i, entity) {
          if (!_.isEmpty(entity['latlng'])) {
            bounds.extend(gmapsLatLngFromJson(entity['latlng']));
          }
        });
        if (!bounds.isEmpty()) {
          $scope.mapState.map.fitBounds(bounds);
        }
      };

      this.stateChanged = function(data) {
        _.extend($clipperStateModel, data['clipperStateModel']);
      };

      var handlers = {
        'tc-map-plot-trip-plan-entities': _.bind(this.plotTripPlanEntities, this),
        'tc-map-plot-result-entities': _.bind(this.plotResultEntities, this),
        'tc-map-state-changed': _.bind(this.stateChanged, this)
      };

      $($window).on('message', function(event) {
        var messageName = event.originalEvent.data.message;
        var handler = handlers[messageName];
        if (handler) {
          handler(event.originalEvent.data);
        }
        $scope.$apply();
      });

      this.sendMessage = function(messageName, data) {
        $window.parent.postMessage(_.extend({message: messageName}, data), '*');
      };
    }

    function MapEntityCtrl($scope, $clipperStateModel) {
      $scope.ed = $scope.entity;
      var entityModel = new EntityModel($scope.ed);
      $scope.markerState = {
        marker: null,
        position: entityModel.gmapsLatLng()
      };

      $scope.iconTemplateName = function() {
        if ($scope.ed['sub_category'] && $scope.ed['sub_category']['sub_category_id']) {
          return $scope.ed['sub_category']['name'] + '-icon-template';
        }
        if ($scope.ed['category'] && $scope.ed['category']['category_id']) {
          return $scope.ed['category']['name'] + '-icon-template';
        }
        return null;
      };

      $scope.isSelected = function() {
        return $clipperStateModel.selectedEntityId &&
          $scope.ed['entity_id'] == $clipperStateModel.selectedEntityId;
      };
    }

    function MapResultEntityCtrl($scope, $clipperStateModel) {
      $scope.ed = $scope.entity;
      var entityModel = new EntityModel($scope.ed);
      $scope.markerState = {
        marker: null,
        position: entityModel.gmapsLatLng()
      };

      $scope.resultLetter = function() {
        return String.fromCharCode(65 + $scope.$index);
      };

      $scope.isSelected = function() {
        return !!$clipperStateModel.selectedResultIndices[$scope.$index];
      };

      $scope.isEmphasized = function() {
        return $clipperStateModel.highlightedResultIndex == $scope.$index;
      };
    }

    angular.module('clipperMapModule',
        ['directivesModule', 'filtersModule'],
        interpolator)
      .controller('ClipperMapCtrl', ClipperMapCtrl)
      .controller('MapEntityCtrl', MapEntityCtrl)
      .controller('MapResultEntityCtrl', MapResultEntityCtrl)
      .directive('tcEntityMarker', tcEntityMarker)
      .directive('tcSearchResultMarker', tcSearchResultMarker)
      .value('$clipperStateModel', new ClipperStateModel());

    angular.element(document).ready(function() {
      angular.bootstrap(document, ['clipperMapModule']);
    });
  </script>
</head>
<body ng-controller="ClipperMapCtrl">
  <div id="map" tc-google-map map="mapState.map" map-options="mapOptions"
    after-creation="mapReady($map)">
  </div>
  <div style="display: none" ng-repeat="entity in tripPlanEntities"
    ng-controller="MapEntityCtrl">
    <tc-entity-marker ng-if="markerState.position"
      map="mapState.map" marker="markerState.marker"
      position="markerState.position"
      category-name="ed['category'] && ed['category']['name']"
      icon-template-name="iconTemplateName()"
      precise="ed['address_precision'] == 'Precise'"
      selected="isSelected()"
      deemphasized="true">
    </tc-entity-marker>
  </div>
  <div style="display: none" ng-repeat="entity in resultEntities"
    ng-controller="MapResultEntityCtrl">
    <tc-search-result-marker ng-if="markerState.position"
        marker="markerState.marker" position="markerState.position" map="mapState.map"
        precise="ed['address_precision'] == 'Precise'" result-letter="resultLetter()"
        selected="isSelected()"
        emphasized="isEmphasized()"
        on-click="markerClicked($event)">
    </tc-search-result-marker>
  </div>

  {% include 'map_markers.html' %}
  {% include 'icons.html' %}
</body>
</html>
