<!doctype html>
<html>
<head>
  <title>Travel Clipper</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="/static/js/ui-bootstrap-tpls-0.10.9.js"></script>
  <script src="/static/js/services.js"></script>
  <script src="/static/js/script.js"></script>
  <script src="/static/js/clipper.js"></script>
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400|Raleway:400|Nunito:300">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/clipper.css">
  <link rel="shortcut icon" href="/static/img/globe.png">
</head>
<body ng-controller="ClipperRootCtrl2" class="clipper-body">

  <div ng-if="clipperState.status == ClipperState.SUMMARY">
    <div class="upper-panel">
      <div class="intro-text">
        <span ng-if="entityModels.length > 1">
          We found the following [[entityModels.length]] places:
        </span>
        <span ng-if="entityModels.length == 1">
          We found the following place:
        </span>
      </div>

      <div>
        <div ng-repeat="entityModel in entityModels" ng-include="'one-entity-clipper-template'">
        </div>
      </div>
    </div>

    <div class="save-to-trip-plan-panel">
      <div class="save-prompt-text">
        <span ng-if="entityModels.length > 1">
          Save [[entityModels.length]] selected places to a trip
        </span>
        <span ng-if="entityModels.length == 1">
          Save [[entityModels[0]['name'] ]] to a trip
        </span>
      </div>
      <div tc-trip-plan-select-dropdown
        select-trip-plan-to="selectedTripPlanState.tripPlan"
        class="trip-plan-dropdown">
      </div> 
      <div class="save-button" ng-show="showSaveControls()">
        <button class="btn btn-primary" ng-click="saveEntities()">Save to trip</button>
      </div>
    </div>
  </div>

  <div ng-if="clipperState.status == ClipperState.NO_AUTO_PLACE_FOUND">
    <div class="upper-panel">
      <div class="intro-text">
        <span ng-if="entityModels.length == 0">
          Uh oh, we couldn't find the place(s) on this page.
          <br/>
          Help us help you by tagging this page with a place.
        </span>
      </div>
    </div>
    <div class="omnibox-panel" ng-controller="ClipperOmniboxCtrl">
      <div class="search-prompt-text">Search</div>
      <input class="form-control" ng-model="rawInputText" placeholder="Search for a place name or address"
            tc-google-place-autocomplete search-bounds-json="selectedTripPlanState.tripPlan['location_bounds']"
            on-place-change="placeChanged($newPlace)"/>
      <div ng-show="loadingData" class="search-spinner">
        <img src="/static/img/spinner-small.gif"/>
      </div>
      <div class="search-results" ng-show="searchResults">
        <div ng-repeat="result in searchResults" class="one-result" ng-click="selectResult(result)">
          <img ng-src="[[result['icon'] ]]" class="result-icon"/>
          [[result['name'] ]]
          <span class="result-address">[[result['formatted_address'] ]]</span>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="clipperState.status == ClipperState.SUCCESS_CONFIRMATION" class="clip-success">
    <div class="checkmark">
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 95.453 100" enable-background="new 0 0 95.453 100" xml:space="preserve">
      <g>
        <g>
          <polygon points="94.587,27.48 31.657,86.15 31.217,85.68 18.847,72.41 0.566,52.81 14.106,40.19 32.387,59.79 81.776,13.74"/>
        </g>
      </g>
      </svg>
    </div>
    <div>
      Place(s) successfully clipped to
    </div>
    <div class="trip-plan-name">
      <a href="/trip_plan/[[selectedTripPlanState.tripPlan['trip_plan_id'] ]]" target="_blank">
        [[selectedTripPlanState.tripPlan['name'] ]]
      </a>
    </div>
  </div>

  <div ng-if="clipperState.status == ClipperState.WAITING_FOR_SCRAPE_FROM_PAGE_SOURCE"
    class="full-spinner">
  </div>

  <script type="text/ng-template" id="one-entity-clipper-template">
    <div class="container-fluid one-entity-clipper" ng-controller="ClipperEntityCtrl">
      <div class="row main-row">
        <div class="col-xs-4 img-container"
          ng-style="{'background-image': 'url(&quot;' + ed['photo_urls'][0] +'&quot;)'}">
        </div>
        <div class="col-xs-8 details-container">
          <div class="main-details">
            <div class="title">
              [[ed['name'] ]]
            </div>
            <div class="note-control" ng-show="!editing()">
              <a ng-click="openEditNote()" href="javascript:void(0)">
                <span class="glyphicon glyphicon-pencil"></span> Add note
              </a>
            </div>
            <div class="edit-close-control" ng-show="editing()">
              <a ng-click="closeEditor()" href="javascript:void(0)">
                <span class="glyphicon glyphicon-chevron-up"></span>
              </a>
            </div>
            <div class="main-controls">
              <a href="javascript:void(0)" class="dropdown-toggle">
                <span class="glyphicon glyphicon-cog"></span>
              </a>
              <ul class="dropdown-menu right-bottom-dropdown-menu">
                <li>
                  <a ng-click="openEditLocation()" href="javascript:void(0)">
                    <span class="glyphicon glyphicon-edit"></span> Edit name and location
                  </a>
                </li>
                <li>
                  <a ng-click="openEditPhotos()" href="javascript:void(0)">
                    <span class="glyphicon glyphicon-camera"></span> Edit photos
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="row expanded-row" ng-show="editing()">
        <div ng-show="state == ClipperEntityState.EDITING_NOTE">
          <textarea class="form-control note-input" placeholder="Add a note" ng-model="ed['description']"
            tc-focus-on="state">
          </textarea>
        </div>
        <div ng-show="state == ClipperEntityState.EDITING_LOCATION" class="location-editor">
          <input class="form-control" ng-model="ed['name']" placeholder="Name of place"
            tc-focus-on="state"/>
          <input class="form-control" ng-model="ed['address']" placeholder="Address"
            tc-google-place-autocomplete search-bounds-json="selectedTripPlanState.tripPlan['location_bounds']"
            location-types="geocode" on-place-change="addressSelected($newPlace)"/>
          <div class="map-container">
            <div class="map" tc-google-map map="map" map-options="mapOptions" after-creation="setupMap($map)"
              resize-when="state == ClipperEntityState.EDITING_LOCATION">
            </div>
          </div>
        </div>
        <div ng-show="state == ClipperEntityState.EDITING_PHOTOS" class="photo-editor"
          ng-controller="ClipperPhotoCtrl">
          <div class="prompt-text">
            Drag and drop images anywhere in the clipper to add them.
          </div>
          <div ng-if="hasImgs()" class="photo-carousel">
            <a ng-click="prevImg()" ng-show="hasPrevImg()" class="img-carousel-control left" href="javascript:void(0)">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <span class="carousel-img-container">
              <div class="img-overlay-control top">
                <a ng-click="setAsPrimary()" href="javascript:void(0)">
                  <span class="glyphicon glyphicon-picture"></span> Set as primary
                </a>
              </div>
              <img ng-src="[[selectedImg()]]" ng-click="nextImg()"/>
              <div class="img-overlay-control bottom">
                <a ng-click="deletePhoto()" href="javascript:void(0)">
                  <span class="glyphicon glyphicon-trash"></span> Delete photo
                </a>
              </div>
            </span>
            <a ng-click="nextImg()" ng-show="hasNextImg()" class="img-carousel-control right" href="javascript:void(0)">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </script>

  {% include 'widgets.html' %}

  <script>
    initClipper2(
      {{entities_json|safe}},
      {{needs_page_source|jsbool}},
      {{all_trip_plans_json|safe}},
      {{all_datatype_values.to_json_str()|safe}});
  </script>
</body>
</html>
