<style type="text/css">
  .map-marker {
    position: relative;
    cursor: pointer;
  }

  .map-marker .marker-shape {
    width: 36px;
    height: 54px;
  }

  .edit-place .map-marker .marker-shape {
    transition: none;
  }

  .map-marker .marker-shape svg,
  .map-marker .marker-icon svg {
    width: 100%;
    height: 100%;
  }

  .map-marker .marker-icon {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 21%;
    left: 25%;
  }

  .map-marker .marker-icon svg {
    fill: #FFFFFF;
  }

  .map-marker .marker-shape svg {
    fill: #999999;
  }

  .map-marker.lodging .marker-shape svg {
    fill: #456BE8;
  }

  .map-marker.food_and_drink .marker-shape svg {
    fill: #D91848;
  }

  .map-marker.attractions .marker-shape svg {
    fill: #50B0B2;
  }

  .map-marker.activities .marker-shape svg {
    fill: #92BBFF;
  }

  .map-marker.shopping .marker-shape svg {
    fill: #FEC569;
  }

  .map-marker.entertainment .marker-shape svg {
    fill: #A957B2;
  }

  .map-marker.region .marker-shape svg {
    fill: #ADB9DD;
  }

  .map-marker.transportation .marker-shape svg {  
    fill: #86BBFF;
  }

  .map-marker .marker-shape.selected,
  .map-marker .marker-shape.emphasized {
    width: 54px;
    height: 81px; 
  }

  .map-marker.deemphasized {
  }

  .map-marker.for-results .marker-shape svg {
    fill: #263452;
  }

  .map-marker.for-results .marker-icon svg {
    fill: #FFFFFF;
  }

  .marker-annotations .star-annotation {
    position: absolute;
    top: 10%;
    right: -10%;
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid #AAAAAA;
    padding-left: 1px;
    border-radius: 9px;  
  }

  .marker-annotations .comment-annotation {
    position: absolute;
    top: 10%;
    left: -10%;
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid #AAAAAA;
    padding: 1px;
    border-radius: 9px;  
  }

  .marker-annotations .result-letter {
    position: absolute;
    bottom: 15%;
    left: 33%;
    width: 12px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
  }

  .map-marker .marker-shape.selected ~ .marker-annotations .result-letter,
  .map-marker .marker-shape.emphasized ~ .marker-annotations .result-letter {
    position: absolute;
    bottom: 15%;
    left: 33%;
    width: 18px;
    text-align: center;
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1.5em;
  }

  .map-marker .drag-halo {
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
  }

  .map-marker .drag-halo img {
    max-width: 100%;
    max-height: 100%;
  }
</style>

<svg height="0" xmlns="http://www.w3.org/2000/svg">
  <filter id="drop-shadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="10"/>
    <feOffset dx="10" dy="10" result="offsetblur"/>
    <!-- <feFlood flood-color="rgba(0,0,0,0.5)"/> -->
    <feComposite in2="offsetblur" operator="in"/>
    <feMerge>
      <feMergeNode/>
      <feMergeNode in="SourceGraphic"/>
    </feMerge>
  </filter>
</svg>

<script type="text/ng-template" id="entity-marker-template">
  <div class="map-marker" ng-class="getClasses()" ng-click="onClick({$event: $event})"
    tc-svg-hack=".marker-shape, svg">
    <div ng-include="precise ? 'marker-precise-shape-template' : 'marker-imprecise-shape-template'"
      class="marker-shape" ng-class="getClasses()">
    </div>
    <div class="marker-icon">
      <div ng-include="iconTemplateName" ng-if="iconTemplateName" class="full-width full-height">
      </div>
    </div>
    <div class="marker-annotations">
      <div ng-if="starred" class="star-annotation">
        <span class="glyphicon glyphicon-star favorite-star"></span>
      </div>
      <div ng-if="hasComments" class="comment-annotation">
        <span tc-icon="comment"></span>
      </div>
      <div ng-if="resultLetter != undefined && resultLetter != null" class="result-letter">
        [[resultLetter]]
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="search-result-marker-template">
  <div class="map-marker search-result-marker" ng-class="getClasses()" ng-click="onClick({$event: $event})"
    tc-svg-hack=".marker-shape, .result-letter, svg">
    <div ng-include="precise ? 'marker-precise-shape-template' : 'marker-imprecise-shape-template'"
      class="marker-shape" ng-class="getClasses()">
    </div>
    <div class="result-letter" ng-class="getClasses()">
      [[resultLetter]]
    </div>
    <div class="drag-halo" ng-if="marker.getDraggable()">
      <img ng-src="/static/img/drag-halo.gif"/>
    </div>
  </div>
</script>

<script type="text/ng-template" id="marker-precise-shape-template">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="197 74 175 251" enable-background="new 197 74 175 251" xml:space="preserve">
    <path d="M284.5,85c-42,0-76,34-76,76s33.3,90.8,76,164c42.8-73.2,76-122,76-164S326.5,85,284.5,85z" filter="url(#drop-shadow)"/>
  </svg>
</script>

<script type="text/ng-template" id="marker-imprecise-shape-template">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="197 74 175 251" enable-background="new 197 74 175 251" xml:space="preserve">
    <circle cx="284.5" cy="159.5" r="76" filter="url(#drop-shadow)"/>
  </svg>
</script>

{% include 'map-icons.html' %}
