<style type="text/css">
  .map-marker {
    position: relative;
    cursor: pointer;
  }

  .map-marker .marker-shape {
    width: 35px;
    height: 55px;
    transition: width 0.3s, height 0.3s;
  }

  .map-marker .marker-shape svg,
  .map-marker .marker-icon svg {
    width: 100%;
    height: 100%;
  }

  .map-marker .marker-icon {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 21%;
    left: 25%;
  }

  .map-marker .marker-icon svg {
    fill: #FFFFFF;
  }

  .map-marker .marker-shape svg {
    fill: #999999;
  }

  .map-marker.lodging .marker-shape svg {
    fill: #456BE8;
  }

  .map-marker.food_and_drink .marker-shape svg {
    fill: #D91848;
  }

  .map-marker.attractions .marker-shape svg {
    fill: #50B0B2;
  }

  .map-marker.activities .marker-shape svg {
    fill: #92BBFF;
  }

  .map-marker.shopping .marker-shape svg {
    fill: #FEC569;
  }

  .map-marker.entertainment .marker-shape svg {
    fill: #A957B2; 
  }

  .map-marker .marker-shape.selected {
    width: 50px;
    height: 79px; 
  }

  .map-marker.deemphasized {
    opacity: 0.5;
  }

  .search-result-marker .result-letter {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 21%;
    color: #fff;
    font-size: 1.2em;
    transition: font-size 0.3s;
  }

  .search-result-marker .result-letter.selected {
    font-size: 1.6em;
  }

  .map-marker.search-result-marker .marker-shape svg {
    fill: #263452;
  }

  .marker-annotations .star-annotation {
    position: absolute;
    top: 10%;
    right: -10%;
    background-color: #FFFFFF;
    width: 18px;
    height: 18px;
    text-align: center;
    border: 1px solid #AAAAAA;
    padding-left: 1px;
    border-radius: 9px;  
  }
</style>

<svg height="0" xmlns="http://www.w3.org/2000/svg">
  <filter id="drop-shadow">
    <feGaussianBlur in="SourceAlpha" stdDeviation="10"/>
    <feOffset dx="10" dy="10" result="offsetblur"/>
    <!-- <feFlood flood-color="rgba(0,0,0,0.5)"/> -->
    <feComposite in2="offsetblur" operator="in"/>
    <feMerge>
      <feMergeNode/>
      <feMergeNode in="SourceGraphic"/>
    </feMerge>
  </filter>
</svg>

<script type="text/ng-template" id="entity-marker-template">
  <div class="map-marker" ng-class="getClasses()" ng-click="onClick({$event: $event})">
    <div ng-include="precise ? 'marker-precise-shape-template' : 'marker-imprecise-shape-template'"
      class="marker-shape" ng-class="{'selected': selected()}">
    </div>
    <div class="marker-icon">
      <div ng-include="iconTemplateName" ng-if="iconTemplateName">
      </div>
    </div>
    <div class="marker-annotations">
      <div ng-if="starred" class="star-annotation">
        <span class="glyphicon glyphicon-star favorite-star"></span>
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="search-result-marker-template">
  <div class="map-marker search-result-marker" ng-class="getClasses()" ng-click="onClick({$event: $event})">
    <div ng-include="precise ? 'marker-precise-shape-template' : 'marker-imprecise-shape-template'"
      class="marker-shape" ng-class="{'selected': selected()}">
    </div>
    <div class="result-letter" ng-class="{'selected': selected()}">
      [[resultLetter]]
    </div>
  </div>
</script>

<script type="text/ng-template" id="marker-precise-shape-template">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="197 74 175 251" enable-background="new 197 74 175 251" xml:space="preserve">
    <path d="M284.5,85c-42,0-76,34-76,76s33.3,90.8,76,164c42.8-73.2,76-122,76-164S326.5,85,284.5,85z" filter="url(#drop-shadow)"/>
  </svg>
</script>

<script type="text/ng-template" id="marker-imprecise-shape-template">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="197 74 175 251" enable-background="new 197 74 175 251" xml:space="preserve">
    <circle cx="284.5" cy="159.5" r="76" filter="url(#drop-shadow)"/>
  </svg>
</script>

{% include 'map-icons.html' %}
