<!doctype html>
<html>
<head>
  <title>{{plan.name}}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
  <script src="/static/js/script.js"></script>
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body ng-controller="RootCtrl">
  <nav class="navbar navbar-default navbar-fixed-top" id="upper-navbar">
    <div class="upper-nav container">
      <div class="row">
        <div class="col-md-3" id="logo">Travel Clipper</div>
        <div class="col-md-6" id="trip-plan-title">
          <span ng-show="!editingTripPlanSettings">[[editableTripPlanSettings['name'] ]]</span>
          <form class="form-inline" role="form" onsubmit="return false" ng-show="editingTripPlanSettings">
            <input class="form-control" id="trip-plan-title-input" type="text" ng-model="editableTripPlanSettings.name"/>
            <button ng-click="saveTripPlanSettings()">Save</button>
          </form>
          <a href="javascript:void(0)" ng-click="editTripPlanSettings()" ng-show="!editingTripPlanSettings">
            <img class="pencil-edit" src="/static/img/pencil.png"/>
          </a>
        </div>
        <div class="col-md-3" id="my-account-link">
          <a href="javascript:void(0)" ng-click="openAccountDropdown()">My Trip Plans</a>
        </div>
      </div>
    </div>
  </nav> 
  <nav class="navbar navbar-fixed-top" id="lower-navbar">
    <div class="lower-nav container" ng-controller="NavigationCtrl">
      <div class="row">
        <div class="col-md-1 navigation-link">
          <a href="javascript:void(0)" ng-click="navigate('Hotel')">Hotels</a>
        </div>
        <div class="col-md-1 navigation-link">
          <a href="javascript:void(0)" ng-click="navigate('Restaurant')">Restaurants</a>
        </div>
        <div class="col-md-1 navigation-link">
          <a href="javascript:void(0)" ng-click="navigate('Attraction')">Attractions</a>
        </div>
        <div class="col-md-6" id="url-box"><input type="text" class="form-control" placeholder="Enter a URL to add to your clipboard"/></div>
        <div class="col-me-3" id="list-map-btns">
          <button type="button" class="btn btn-default btn-sm nav-btn">
            <span class="glyphicon glyphicon-picture"></span>
          </button>
          <button type="button" class="btn btn-default btn-sm nav-btn">
            <span class="glyphicon glyphicon-globe"></span>
          </button>
        </div>
      </div>
    </div>
  </nav>

  <div id="entity-container">
    {% if plan.clipped_pages %}
      <div ng-controller="ClippedPagesCtrl">
        <h3>Clipped Pages</h3>
        <div>
          These are pages you clipped but we're unable to automatically parse.  Click on each to extract locations from the page.
        </div>
        {% for clipped_page in plan.clipped_pages %}
          <div>
            <a href="javascript:void(0)"
              ng-click="openPageForClipping('{{clipped_page.source_url}}')">
              {{clipped_page.title}}
            </a>
          </div>
        {% endfor %}
        <iframe ng-src="[[clippingPageUrl]]" ng-show="clippingActive" class="clipping-iframe">
        </iframe>
      </div>
    {% endif %}


    {% for entity_type in plan.TYPES_IN_ORDER %}
      {% if plan.entities_for_type(entity_type) %}
        <div ng-init='entityType = "{{entity_type}}"; entities = {{plan.entities_json_str_for_type(entity_type)}}'>
          <div class="one-entity-type" ng-controller="EntityTypeCtrl">
            <a id="{{entity_type}}" class="offset-anchor"></a>
            <h3 ng-click="toggleSection()" class="entity-type-header">
              <a href="javascript:void(0)">{{entity_type}}</a>
            </h3>
            <div class="columns" ng-show="show">
              <div ng-repeat="entityModel in entityModels">
                <div class="one-entity" ng-mouseenter="openInfowindow(entityModel.data['name'])" ng-controller="EntityCtrl">
                  <div class="one-entity-title" ng-show="!editing">
                    [[entityModel.data['name'] ]]
                  </div>
                  <div class="edit-entity-title" ng-show="editing">
                    <input type="text" class="form-control" ng-model="entityModel.data['name']"/>
                  </div>
                  <div class="one-entity-content">
                    <img class="entity-main-img" ng-src="[[entityModel.currentImgUrl]]"
                      ng-click="entityModel.advanceImg()"/>
                  </div>
                  <div>
                    Rating: [[entityModel.data['rating'] ]]
                  </div>
                  <div class="entity-description"
                    ng-show="entityModel.hasDescription() && !editing">
                    <div style="white-space:pre">[[entityModel.data['description'] ]]</div>
                  </div>
                  <div ng-show="editing">
                    <textarea ng-model="entityModel.data['description']" class="entity-description-input"></textarea>
                  </div>
                  <div>
                    Clipped from <a ng-href="[[entityModel.data['source_url'] ]]" target="_blank">[[entityModel.data['source_url'] | hostname ]]</a>
                  </div>
                  {% if allow_editing %}
                    <div class="entity-edit-controls">
                      <a href="javascript:void(0)"
                        ng-click="openEditEntity()"
                        ng-show="!editing">
                        Edit
                      </a>
                      <button ng-click="saveEntityEdit()" ng-show="editing">Save</button>
                      <a href="javascript:void(0)" ng-click="cancelEditing()" ng-show="editing">
                        Cancel
                      </a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endfor %}
    <div class="left-footer">
      Copyright 2014 Unicycle Labs
    </div>

  </div>

  <div id="map-container">
    <div id="map">
    </div>
  </div>

  {# This is below the map in the DOM so that it appears visually on top #}
  <div ng-show="accountDropdownOpen">
    <div class="account-dropdown">
      {% for trip_plan in all_trip_plans %}
        <div>
          {# We use a string for the trip plan here because javascript truncates long ints #}
          <a href="javascript:void(0)" ng-click="loadTripPlan('{{trip_plan.trip_plan_id}}')">
            {{trip_plan.name}}
          </a>
        </div>
      {% endfor %}
      <div>
        Create new trip plan
      </div>
    </div>
  </div>

  <script>
    initApp({{plan.settings_json()|safe}});
  </script>
</body>
</html>
