<!doctype html>
<html>
<head>
  <title>{{plan.name}}</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="//maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
  <script src="/static/js/imagesloaded.pkgd.min.js"></script>
  <script src="/static/js/masonry.pkgd.min.js"></script>
  <script src="/static/js/jquery.dotdotdot.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="/static/js/ui-bootstrap-tpls-0.10.9.js"></script>
  <script src="/static/js/angular-masonry.min.js"></script>
  <script src="/static/js/services.js"></script>  
  <script src="/static/js/script.js"></script>
  <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400|Raleway:400">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" href="/static/img/globe.png">
</head>
<body ng-controller="RootCtrl">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="travel-clip-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="header-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" id="logo" href="#">TravelClip</a>
      </div>
      <div class="collapse navbar-collapse" id="header-navbar-collapse">
        <ul class="nav navbar-nav" id="header-plan-navigation">
          <li id="trip-plan-title">
            <a href="javascript:void(0)" id="edit-title-link" ng-click="allowEditing && editTripPlanSettings()" ng-show="!editingTripPlanSettings" 
            {% if allow_editing %}
              tooltip="Edit Trip Title" tooltip-placement="bottom"
            {% endif %}
            >
              <span ng-show="!editingTripPlanSettings">[[planModel.tripPlanData['name'] ]]</span>
            </a>
            <form class="form-inline" role="form" ng-submit="saveTripPlanSettings()" ng-show="editingTripPlanSettings">
              <input class="form-control" type="text"
                tc-focus-on="editingTripPlanSettings"
                ng-model="editableTripPlanSettings.name"
                ng-blur="saveTripPlanSettings()"/>
            </form>
          </li>
          <li>
            <ul class="nav nav-pills">
              <li class="view-mode-pill" tooltip="Map" tooltip-placement="bottom">
                <a href="javascript:void(0)" ng-click="showMapView()" 
                ng-class="{'active-view-mode': pageStateModel.inMapView()}">
                  <span class="glyphicon glyphicon-globe" id="header-globe"></span>
                </a>
              </li>
              <li class="view-mode-pill" tooltip="Guide" tooltip-placement="bottom">
                <a href="javascript:void(0)" ng-click="showGuideView()" 
                ng-class="{'active-view-mode': pageStateModel.inGuideView()}">
                  <span class="glyphicon glyphicon-picture" id="header-picture"></span>
                </a>
              </li>
              <li class="view-mode-pill">
                <a href="javascript:void(0)" class="dropdown-toggle">
                  <span class="glyphicon glyphicon-cog" id="header-gear"></span>
                </a>
                <ul class="dropdown-menu">
                  {% if allow_editing %}
                  <li>
                    <a ng-click="openDayPlanner('day-planner-modal-window')" href="javascript:void(0)">
                      <span class="glyphicon glyphicon-time"></span> Day planner
                    </a>
                  </li>
                  <hr class="dropdown-separator"/>
                  {% endif %}
                  <li>
                    <a ng-click="cloneCurrentTripPlan()" href="javascript:void(0)">
                      <span class="glyphicon glyphicon-plus"></span> Clone trip plan
                    </a>
                  </li>
                  {% if allow_editing %}
                  <li>
                    <a ng-click="deleteCurrentTripPlan()" href="javascript:void(0)">
                      <span class="glyphicon glyphicon-trash"></span> Delete trip plan
                    </a>
                  </li>
                  {% endif %}
                  <hr class="dropdown-separator"/>
                  <li>
                    <a ng-click="groupByCategory()" href="javascript:void(0)">
                      <span ng-if="!pageStateModel.isGroupByCategory()" class="glyphicon glyphicon-unchecked"></span>
                      <span ng-if="pageStateModel.isGroupByCategory()" class="glyphicon glyphicon-check"></span>
                      Group by category
                    </a>
                  </li>
                  <li>
                    <a ng-click="groupByDay()" href="javascript:void(0)">
                      <span ng-if="!pageStateModel.isGroupByDay()" class="glyphicon glyphicon-unchecked"></span>
                      <span ng-if="pageStateModel.isGroupByDay()" class="glyphicon glyphicon-check"></span>
                      Group by day
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          {% if allow_editing %}
            <li>
              <button type="button" class="btn btn-default navbar-btn"
                id="add-place-to-trip-btn" ng-click="toggleOmnibox()">
                Add Place to Trip
              </button>
            </li>
          {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right" id="header-site">
          <li>
            <ul class="nav nav-pills">
              <li class="view-mode-pill">
                <a href="javascript:void(0)" ng-click="toggleAccountDropdown()">
                  <span class="glyphicon glyphicon-user" id="header-user"></span>
                </a>
              </li>
            <ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% if allow_editing %}
    <div ng-show="omniboxState.visible">
      <div ng-controller="AddPlaceCtrl" class="omnibox-container">
        <div ng-show="!loadingData">
          <div>
            <input type="text" class="form-control" placeholder="Search for a place OR paste a website URL"
            tc-google-place-autocomplete
            tc-focus-on="omniboxState.visible"
            ng-model="rawInputText"
            on-place-change="placeChanged($newPlace)"
            ng-paste="textPasted()"/>
          </div>
        </div>
        <div ng-show="loadingData" id="search-spinner">
          <img src="/static/img/spinner-small.gif"/>
        </div>
      </div>
    </div>
  {% endif %}

  <div ng-show="pageStateModel.inMapView()">
    <div id="entity-container">

      <div ng-repeat="itemGroupModel in itemGroups">
        <div ng-include="'item-group-template'">
        </div>
      </div>

      <div ng-if="planModel.isEmpty()">
        <div ng-include="'mapview-getting-started-template'">
        </div>
      </div>

      <div class="mapview-footer">
        Copyright 2014 Unicycle Labs
      </div>

    </div>

    <div id="map-container">
      <div id="map">
      </div>
    </div>

  </div>  {# end map view #}

  <div ng-if="pageStateModel.inGuideView()">
    <div class="guideview-container">
      <div ng-repeat="itemGroupModel in itemGroups">
        <div ng-include="'guideview-item-group-template'">
        </div>
      </div>
      <div class="guideview-footer">
        Copyright 2014 Unicycle Labs
      </div>
    </div>

  </div> {# end guide view #}

  {# This is below the map in the DOM so that it appears visually on top #}
  <ul ng-show="accountDropdownOpen" class="account-dropdown" ng-controller="AccountDropdownCtrl">
    <li class="account-dropdown-login-info">
      <div ng-show="accountInfo.loggedIn && !showLoginForm">
        <span class="logged-in-email">[[accountInfo['email'] ]]</span>
        <span class="logout-link">
          <a href="javascript:void(0)" ng-click="showLoginForm = true">Logout</a>
        </span>
      </div>
      <div ng-show="showLoginForm">
        <form role="form" ng-submit="doLogin()">
          <input type="text" class="form-control email-entry-input"
            ng-model="accountInfo['email']"
            placeholder="Enter your email to login"/>
          <button type="submit()" class="btn btn-default btn-login">Login</button>
        </form>
      </div>
    </li>
    <li ng-show="allTripPlans">
      <div class="my-trip-plans-heading">
        My Trip Plans
      </div>
    </li>
    <li ng-repeat="tripPlan in allTripPlans">
      <span ng-if="tripPlan['trip_plan_id'] == currentTripPlan['trip_plan_id']">
        {# Use the name from the shared info container so it will auto update 
           if the user edits it inline. #}
        [[currentTripPlan['name'] ]]
      </span>
      <span ng-if="tripPlan['trip_plan_id'] != currentTripPlan['trip_plan_id']">
          <a href="javascript:void(0)" ng-click="loadTripPlan(tripPlan['trip_plan_id'])">
            [[tripPlan['name'] ]]
          </a>
        </span>
    </li>
    <li class="create-new-trip-dropdown-link">
      <a href="javascript:void(0)" ng-click="createNewTripPlan()">Create New Trip Plan</a>
    </li>
  </ul>

  <script type="text/ng-template" id="infowindow-template">
    <div>
      <div>
        <b>[[entity.data['name'] ]]</b>
      </div>
      <div ng-if="!entity.isPreciseLocation()" class="text-warning infowindow-warning-text">
        Location approximate
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="reclip-confirmation-template">
    <div ng-controller="ReclipConfirmationCtrl" class="reclip-confirmation-modal">
      <div ng-show="!reclipSucceeded">
        <div>Reclip <b>[[ed['name'] ]]</b> to:</div>
        <div tc-trip-plan-select-dropdown select-trip-plan-to="selectionState.selectedTripPlan" class="reclip-confirmation-trip-plan-dropdown"></div>
        <div ng-show="showSaveButtons()">
          <button class="btn btn-primary" ng-click="reclipEntity()">
            Save
          </button>
          <button class="btn" ng-click="dismissReclipConfirmation()">
            Cancel
          </button>
        </div>
      </div>

      <div ng-show="reclipSucceeded">
        <div class="clip-success-checkmark">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 95.453 100" enable-background="new 0 0 95.453 100" xml:space="preserve">
          <g>
            <g>
              <polygon points="94.587,27.48 31.657,86.15 31.217,85.68 18.847,72.41 0.566,52.81 14.106,40.19 32.387,59.79 81.776,13.74"/>
            </g>
          </g>
          </svg>
        </div>
        Successfully clipped <b>[[ed['name'] ]]</b> to
        <a href="/trip_plan/[[selectionState.selectedTripPlan['trip_plan_id'] ]]" target="_blank">
          [[selectionState.selectedTripPlan['name'] ]]
        </a>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="add-place-confirmation-template">
    <div ng-controller="AddPlaceConfirmationCtrl" class="add-place-confirmation">
      <div ng-show="!editingFields">
        <div class="apc-place-name">
          [[ed['name'] ]]
        </div>
        <div class="apc-address">
          [[ed['address'] ]]
        </div>

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="col-md-6 flush-left">
              <div class="apc-photo-container">
                <div ng-include="'carousel-template'">
                </div>
              </div>
              <div class="apc-place-details">
                <div class="apc-rating">
                  <tc-star-rating value="[[ed['rating'] ]]">
                  </tc-star-rating>
                </div>
                <div class="apc-category">
                  Category: [[ed['category']['display_name'] ]]
                </div>
                <div class="apc-sub-category">
                  SubCategory: [[ed['sub_category']['display_name'] ]]
                </div>
              </div>
            </div>
            <div class="col-md-6 flush-right">
              <div ng-show="entityModel.hasLocation()">
                <div id="apc-static-map-container">
                  <div id="apc-static-map"></div>
                </div>
                <div ng-if="!entityModel.isPreciseLocation()" class="text-warning">
                  Location is approximate
                </div>
              </div>
              <div ng-if="!entityModel.hasLocation()" class="text-warning">
                Location unknown
              </div>                
            </div>            
          </div>
        </div>
      </div>

      <div ng-show="editingFields" class="apc-edit-mode">
        <div class="apc-place-name-edit">
          <label>Name</label>
          <input id="apc-edit-name-input" type="text" ng-model="ed['name']" class="form-control apc-edit-input"/>
        </div>
        <div class="apc-address-edit">
          <label>Address</label>
          <input id="apc-edit-address-input" type="text" ng-model="ed['address']" class="form-control apc-edit-input"/>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 flush-left">
              <div class="apc-photo-container-edit" ng-controller="EditImagesCtrl">
                <label>Images</label>
                <div class="carousel">
                  <a class="left carousel-control" ng-show="hasPrevImg()" ng-click="prevImg()">
                    <span class="icon-prev"></span>
                  </a>
                  <a class="apc-img-trash-control" ng-click="removeActiveImg()" href="javascript:void(0)">
                    Delete Image<span class="glyphicon glyphicon-trash"></span>
                  </a>
                  <img ng-src="[[currentImgUrl]]" class="entity-img"/>
                  <a class="right carousel-control" ng-show="hasNextImg()" ng-click="nextImg()">
                    <span class="icon-next"></span>
                  </a>
                </div>
                <div class="apc-image-edit-container">
                  <textarea type="text" placeholder="Drag images or paste image Urls to add"
                    class="apc-image-drop-target apc-edit-input"
                    ng-model="photoUrlInputText"
                    ng-paste="photoUrlPasted()"
                    ng-change="photoUrlChanged()"
                    ng-class="{'apc-img-drag-active': imgDragActive}"
                    tc-dragenter="photoUrlDragEnter($event)"
                    tc-drop="photoUrlDropped($event)"
                    />
                  </textarea>
                </div>                
              </div>
              <div class="apc-place-details-edit">
                <div class="apc-description-edit">
                  <label>Description</label>
                  <textarea class="form-control apc-edit-input" ng-model="ed['description']">
                  </textarea>
                </div>
                <div class="apc-rating-edit">
                  <form class="form-inline" role="form">
                    <label>Rating</label>
                    <input type="number" ng-model="ed['rating']" class="form-control apc-edit-input"/>
                  </form>
                </div>
                <div class="apc-category-edit">
                  <form class="form-inline" role="form">
                    <label>Category</label>
                    <select class="form-control" ng-model="ed['category']"
                      ng-options="c['display_name'] for c in categories track by c['category_id']"
                      ng-change="categoryChanged()">
                    </select>
                  </form>
                </div>
                <div class="apc-sub-category-edit">
                  <form class="form-inline" role="form">
                    <label>SubCategory</label>
                    <select class="form-control" ng-model="entityModel.data['sub_category']"
                      ng-options="s['display_name'] for s in subCategories track by s['sub_category_id']"
                      ng-change="updateMarkerIcon()">
                    </select>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-6 flush-right">
              <div class="apc-editable-map">
                <label>Map</label>
                <div id="apc-editable-map-container">
                  <div id="apc-editable-map"></div>
                </div>
                <div class="apc-editable-map-header" ng-show="entityModel.hasLocation()">
                  Drag the marker to change the location
                </div>
                <div ng-if="!entityModel.hasLocation()">
                  <button class="btn btn-info">Add a marker to the map</button>
                </div>
              </div>
              <div class="apc-map-precision-edit">
                <label>Location precision</label>
                <form class="form-inline" role="form">
                  <input type="radio" class="form-control" value="Precise" ng-model="ed['address_precision']" ng-change="updateMarkerIcon()" id="precise-radio"/>
                  <label for="precise-radio" class="light-label">Exact location</label>
                  <input type="radio" class="form-control" value="Imprecise" ng-model="ed['address_precision']" ng-change="updateMarkerIcon()" id="imprecise-radio"/>
                  <label for="imprecise-radio" class="light-label">Approximate location</label>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="apc-controls">
        <div class="apc-control-edit-link">
          <a ng-click="openEditFields()" ng-show="!editingFields" href="javascript:void(0)">Edit</a>
        </div>
        <div class="apc-control-buttons">
          <button class="btn btn-primary" ng-click="saveNewEntity()" ng-show="!isEditOfExistingEntity">
            Add to Trip Plan
          </button>
          <button class="btn btn-primary" ng-click="saveChangesToExistingEntity()" ng-show="isEditOfExistingEntity">
            Save Changes
          </button>          
          <button class="btn btn-default" ng-click="cancelConfirmation()">
            Cancel
          </button>
        </div>
      </div>

    </div>
  </script>

  <script type="text/ng-template" id="day-planner-template">
    <div ng-controller="DayPlannerCtrl" class="day-planner-modal">
      <div class="day-planner-header">
        <div class="day-planner-header-text">Day Planner</div>
        <div class="day-planner-persistent-controls">
          <button class="btn btn-primary" ng-click="saveOrderings()">
            Save
          </button>
          <button class="btn" ng-click="$close()">
            Cancel
          </button>
        </div>
      </div>
      <div class="container-fluid day-planner-body">
        <div class="row-fluid">
          <div class="col-md-5 day-planner-left-panel"
            ng-class="{'dragactive': showLeftPanelDragActive(), 'dragover': showLeftPanelDragover()}"
            tc-dragenter="onLeftPanelDragenter($event)"
            tc-dragleave="leftPanelDragover = false"
            tc-dragover="onLeftPanelDragover($event)"
            tc-dragend="onDragend(); leftPanelDragover = false"
            tc-drop="handleLeftPanelDrop($event)"
          >
            <div ng-repeat="item in dpm.unorderedItems" class="day-planner-unsorted-item">
              <tc-draggable-entity item="item" drag-item="dragItem"
                on-dragstart="onDragstart($event, item)" on-dragend="onDragend()">
              </tc-draggable-entity>
            </div>
          </div>
          <div class="col-md-7 day-planner-right-panel">
            <div ng-repeat="dayModel in dpm.dayModels">
              <div class="day-planner-one-day" ng-controller="DayPlannerOneDayCtrl">
                <h4 class="day-planner-day-heading">Day [[dayModel.dayNumber]]</h4>
                <div class="day-planner-one-day-controls">
                  <a ng-click="editingNote = true" href="javascript:void(0)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </a>
                  <a ng-click="dpm.clearDay(dayModel)" href="javascript:void(0)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </a>
                </div>
                <div ng-show="!editingNote" class="day-planner-one-day-note">[[dayModel.noteItem.data['text'] ]]</div>
                <div ng-show="editingNote">
                  <textarea class="form-control" ng-model="dayModel.noteItem.data['text']"
                    tc-focus-on="editingNote" ng-blur="editingNote = false"
                    placeholder="Enter a note about this day">
                  </textarea>
                </div>
                <div tc-item-drop-target day="dayModel.dayNumber" position="0"
                  drag-item="dragItem" on-drop="handleDrop(dayModel.dayNumber, 0)">
                </div>
                <div ng-repeat="itemModel in dayModel.getItems()">
                  <tc-draggable-entity item="itemModel" drag-item="dragItem"
                    on-dragstart="onDragstart($event, itemModel)" on-dragend="onDragend()">
                  </tc-draggable-entity>
                  <div tc-item-drop-target day="dayModel.dayNumber" position="itemModel.position() + 1"
                    drag-item="dragItem" on-drop="handleDrop(dayModel.dayNumber, itemModel.position() + 1)">
                  </div>
                </div>
              </div>
            </div>

            <div class="day-planner-controls">
              <button class="btn btn-default day-planner-add-day-button" ng-click="addNewDay()">
                <span class="glyphicon glyphicon-plus"></span> Add a day
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="day-planner-drop-target-template">
    <div class="day-planner-drop-target"
      ng-class="{'dragactive': isDragActive(), 'dragover': dragover}"
      tc-dragenter="onDragenter($event)"
      tc-dragleave="onDragleave($event)"
      tc-dragover="onDragover($event)"
      tc-drop="onDrop(); dropDone($event)"
    >
      <div class="day-planner-drop-target-inner"
        tc-dragenter="onInnerDragenter()"
        tc-dragleave="onInnerDragleave()">
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="day-planner-entity-item-template">
    <div draggable="true" class="day-planner-draggable-entity"
      ng-class="{'existing-item-dragactive': activeItemIsThis(item)}"
      tc-dragstart="onDragstart()" tc-dragend="onDragend()">
      <div class="day-planner-entity-image-container">
        <img ng-src="[[item.data['photo_urls'][0] ]]"/>
      </div>
      <div class="day-planner-entity-description">
        [[item.data['name'] ]]
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="item-group-template">
    <div ng-controller="ItemGroupCtrl" ng-show="itemGroupModel.hasContent()">
      <div ng-include="'item-group-header-template'">
      </div>
      <div ng-show="show">
        <div ng-repeat="item in itemGroupModel.getNonemptyNoteItems()">
          <div ng-include="'mapview-one-note-template'">
          </div>
        </div>
        <div ng-repeat="item in itemGroupModel.getEntityItems()">
          <div ng-include="'mapview-one-entity-template'">
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="item-group-header-template">
    <h4 class="item-group-header" ng-click="toggleSection()">
      <span ng-include="'item-group-header-text-template'"></span>
      <a href="javascript:void(0)">
        <span ng-show="show" class="glyphicon glyphicon-chevron-down toggle-chevron"></span>
        <span ng-show="!show" class="glyphicon glyphicon-chevron-up toggle-chevron"></span>
      </a>
    </h4>
  </script>

  <script type="text/ng-template" id="guideview-item-group-header-template">
    <div class="header-img" id="[[itemGroupModel.groupKey]]-header-img">
      <div class="guideview-entity-type-header">
        <span ng-include="'item-group-header-text-template'"></span>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="item-group-header-text-template">
    <span ng-if="itemGroupModel.isDayGrouping()">
      <span ng-if="itemGroupModel.groupKey > 0">
        Day [[itemGroupModel.groupKey]]
      </span>
      <span ng-if="!itemGroupModel.groupKey">
        Unordered
      </span>
    </span>
    <span ng-if="itemGroupModel.isCategoryGrouping()">
      <span ng-if="itemGroupModel.groupKey == 'lodging'">
        Lodging
      </span>
      <span ng-if="itemGroupModel.groupKey == 'food_and_drink'">
        Food &amp; Drink
      </span>
      <span ng-if="itemGroupModel.groupKey == 'attractions'">
        Attractions
      </span>
      <span ng-if="!itemGroupModel.groupKey">
        Uncategorized
      </span>
    </span>
  </script>

  <script type="text/ng-template" id="mapview-one-entity-template">
    <div ng-controller="EntityCtrl" class="one-entity-mapview"
      id="mapview-entity-[[ed['entity_id'] ]]"  {# For scrolling #}
      ng-mouseenter="openInfowindow(ed['entity_id'])">
      <div class="img-container">
        <a ng-click="openModalCarousel(ed['photo_urls'])" href="javascript:void(0)">
          <img ng-src="[[ed['photo_urls'][0] ]]"/>
        </a>
      </div>
      <div class="details">
        <div class="title">
          [[ed['name'] ]]
        </div>
        <div ng-show="!editing" class="description" tc-ellipsize watch-value="editing">[[ed['description'] ]]</div>
        <div ng-show="editing">
          <textarea ng-model="ed['description']" class="form-control description-input"
            tc-focus-on="editing" ng-blur="saveEntityEdit()">
          </textarea>
        </div>
        <div class="source">
          From <a ng-href="[[ed['source_url'] ]]" target="_blank">[[ed['source_url'] | hostname ]]</a>
        </div>
        <div class="controls">
          <span ng-if="!item.hasLocation()"
            tooltip="Location unavailable"
            class="glyphicon glyphicon-exclamation-sign">
          </span>
          <span ng-if="item.hasLocation() && !item.isPreciseLocation()"
            tooltip="Location approximate"
            class="glyphicon glyphicon-exclamation-sign">
          </span>
          <a href="javascript:void(0)" class="dropdown-toggle">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
          <ul class="dropdown-menu right-bottom-dropdown-menu">
            {% if allow_editing %}
            <li>
              <a ng-click="openEditEntity()" href="javascript:void(0)">
                <span class="glyphicon glyphicon-pencil"></span> Add a comment
              </a>
            </li>
            <li>
              <a ng-click="openEditPlaceModal()" href="javascript:void(0)">
                <span class="glyphicon glyphicon-edit"></span> Edit this place
              </a>
            </li>
            {% endif %}
            <li>
              <a ng-click="reclipEntity()" href="javascript:void(0)">
                <span class="glyphicon glyphicon-paperclip"></span> Clip this place
              </a>
            </li>
            {% if allow_editing %}
            <li>
              <a ng-click="deleteEntity()" href="javascript:void(0)">
                <span class="glyphicon glyphicon-trash"></span> Delete this place
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
    </div>
  </script>

  <script type="text/ng-template" id="mapview-one-note-template">
    <div ng-controller="NoteCtrl" class="one-note-mapview">
      <div ng-show="!editing">
        <div class="note-text">[[nd['text'] ]]</div>
      </div>
      <div ng-show="editing">
        <textarea ng-model="nd['text']" tc-focus-on="editing" class="form-control"
          ng-blur="saveNote()">
        </textarea>
      </div>
      <div class="controls" ng-show="!editing">
        <a ng-click="openEditNote()" href="javascript:void(0)">
          <span class="glyphicon glyphicon-pencil"></span>
        </a>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="modal-carousel-template">
    <carousel interval="-1">
      <slide ng-repeat="slide in slides" active="slide.active">
        <img ng-src="[[slide.imgUrl]]"/>
      </script>
    </carousel>
  </script>

  <script type="text/ng-template" id="guideview-item-group-template">
    <div ng-show="itemGroupModel.hasContent()">
      <div ng-include="'guideview-item-group-header-template'">
      </div>
      <div>
        <div ng-repeat="item in itemGroupModel.getNonemptyNoteItems()">
          <div ng-include="'guideview-one-note-template'">
          </div>
        </div>
        <div ng-repeat="item in itemGroupModel.getEntityItems()">
          <div ng-include="'guideview-one-entity-template'">
          </div>
        </div>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="guideview-one-note-template">
    <div ng-controller="NoteCtrl" class="one-note-guideview">
      <div class="note-text">[[nd['text'] ]]</div>
    </div>
  </script>

  <script type="text/ng-template" id="guideview-one-entity-template">
    <div class="guideview-one-entity" ng-controller="EntityCtrl"
      ng-class="{'guideview-entity-even': $even, 'guideview-entity-odd': $odd}">
      <div class="guideview-one-entity-title">
        <a ng-href="[[ed['source_url'] ]]" target="_blank">[[ed['name'] ]]</a>
      </div>
      <div tc-star-rating value="[[ed['rating'] ]]" class="guideview-star-rating">
      </div tc-star-rating>
      <div ng-controller="GuideViewCarouselCtrl" class="guideview-imgs-showcase">
        <div masonry="{ transitionDuration: 0, gutter: 6 }">
          <a class="left carousel-control" ng-show="hasPrevImgs()" ng-click="prevImgs()" style="z-index: 1000">
            <span class="icon-prev"></span>
          </a>
          <div class="masonry-brick guideview-img-masonry-brick" ng-repeat="imgUrl in activeImgUrls()">
            <img bn-lazy-src="[[imgUrl]]" class="guideview-masonry-img"/>
          </div>
          <a class="right carousel-control guideview-carousel-control" ng-show="hasNextImgs()" ng-click="nextImgs()">
            <span class="icon-next"></span>
          </a>
        </div>
      </div>

      <div class="guideview-entity-info">
        <div class="guideview-entity-description"
          ng-show="ed['description'] && !editing">
          <div style="white-space:pre-wrap">[[ed['description'] ]]</div>
        </div>
        <div ng-show="editing">
          <textarea ng-model="ed['description']"
            class="form-control guideview-entity-description-input"></textarea>
        </div>
        {% if allow_editing %}
          <div class="guideview-entity-edit-controls">
            <a href="javascript:void(0)"
              ng-click="deleteEntity()"
              ng-show="!editing">
              <span class="glyphicon glyphicon-trash"></span>
            </a>
            <a href="javascript:void(0)"
              ng-click="openEditEntity()"
              ng-show="!editing">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <button class="btn btn-save-changes" ng-click="saveEntityEdit()" ng-show="editing">Save</button>
            <a href="javascript:void(0)" ng-click="cancelEditing()" ng-show="editing">
              Cancel
            </a>
          </div>
        {% endif %}
      </div>

    </div>
  </script>
 
  <script type="text/ng-template" id="mapview-getting-started-template">
    <div class="getting-started-directions">
      <div class="welcome">
        Welcome to your new trip plan
      </div>
      <a href="javascript:(function(){c=document.createElement('script');c.type='text/javascript';c.src='{{bookmarklet_url}}'+'?'+Math.floor(Math.random()*99999999);document.body.appendChild(c);})();">
        <button class="btn btn-info" id="btn-bookmarklet">
          Travel Clipper
        </button>
      </a> <-- If you haven't already, drag me to your Bookmarks Bar
      <div class="step">
        Step 1
      </div>
      <p>
        Pick a travel destination then browse popular travel websites for hotel, restaurant, and attraction options
      </p>
      <p>
        Try these supported sites - 
        <a href="http://www.hotels.com/hotel/details.html?pa=5&pn=1&ps=5&tab=description&destinationId=504261&searchDestination=Paris&hotelId=218097&rooms[0].numberOfAdults=2&roomno=1&validate=false&previousDateful=false&reviewOrder=date_newest_first" target="_blank">Hotels.com</a>, 
        <a href="https://www.airbnb.com/rooms/2095577?s=6yRc" target="_blank">Airbnb</a>, 
        <a href="http://www.tripadvisor.com/Attraction_Review-g187147-d188150-Reviews-Musee_d_Orsay-Paris_Ile_de_France.html" target="_blank">TripAdvisor</a>, 
        <a href="http://www.yelp.com/biz/la-compagnie-des-vins-surnaturels-paris" target="_blank">Yelp</a>
      </p>
      <div class="step">
        Step 2
      </div>
      <p>
        Clip to this Trip Plan by using the clipper or by pasting the URL of the website you want to save in the URL input above
      </p>
      <div class="step">
        Step 3
      </div>
      <p>
        Come back to this Trip Plan and your bookmarked points of interest will instantly be ready for you to browse and manage
      </p>
    </div>
  </script>

  {% include 'widgets.html' %}

  <script>
    initApp(
      {{plan.to_json_str()|safe}},
      {{entities_json|safe}},
      {{notes_json|safe}},
      {{all_trip_plans_json|safe}},
      {{account_info.to_json_str()|safe}},
      {{all_datatype_values.to_json_str()|safe}},
      {{allow_editing|jsbool}});
  </script>
</body>
</html>
