<style type="text/css">
  .start-new-trip-form {
    font-family: 'Nunito';
    color: #000;
    margin-top: 10px;
  }

  .start-new-trip-form .prompt {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 20px;
  }

  .start-new-trip-form .search-spinner {
    position: relative;
    top: -28px;
    left: 50%;
  }

  .start-new-trip-form .search-results {
    margin-top: 20px;
  }

  .start-new-trip-form .one-result {
    padding: 15px 5px;
    cursor: pointer;
  }

  .start-new-trip-form .one-result:hover {
    background-color: #ccc;
  }

  .start-new-trip-form .result-icon {
    max-width: 25px;
    max-height: 25px;
  }

  .image-gallery {
    text-align: center;
  }

  .image-gallery .image-selector {
    margin: auto;
  }

  .image-gallery .image-selector .selector-images {
    display: inline-block;
    max-width: calc(100% - 48px);
  }

  .image-gallery .image-selector .selector-image-container {
    display: inline-block;
  }

  .image-gallery .image-selector .selector-images img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
  }

  .image-gallery .image-selector .selector-control {
    display: inline-block;
    width: 20px;
  }

  .image-carousel {
    position: relative;
  }

  .image-carousel img {
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
  }

  .image-carousel .carousel-control.left,
  .image-carousel .carousel-control.right {
    background-image: none;
    cursor: pointer;
  }
</style>

{# TODO: Replace uses of this with tc-image-carousel directive #}
<script type="text/ng-template" id="carousel-template">
  <div ng-controller="CarouselCtrl" class="carousel">
    <a class="left carousel-control" ng-show="hasPrevImg()" ng-click="prevImg()">
      <span class="icon-prev"></span>
    </a>
    <img ng-src="[[currentImgUrl]]" class="entity-img"/>
    <a class="right carousel-control" ng-show="hasNextImg()" ng-click="nextImg()">
      <span class="icon-next"></span>
    </a>
  </div>
</script>

<script type="text/ng-template" id="image-carousel-template">
  <div class="image-carousel">
    <a class="left carousel-control" ng-show="hasPrevImg()" ng-click="prevImg()">
      <span class="icon-prev"></span>
    </a>
    <img ng-src="[[currentImgUrl()]]" ng-click="nextImg()"/>
    <a class="right carousel-control" ng-show="hasNextImg()" ng-click="nextImg()">
      <span class="icon-next"></span>
    </a>
  </div>
</script>

<script type="text/ng-template" id="image-gallery-template">
  <div class="image-gallery">
    <div class="featured-image-container">
      <a ng-click="advanceImg()" href="javascript:void(0)">
        <img ng-src="[[featuredImgUrl()]]"/>
      </a>
    </div>
    <div class="image-selector" ng-show="showSelector()">
      <a ng-show="hasPrevPage()" class="selector-control left" ng-click="prevPage()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <span class="selector-images">
        <span ng-repeat="img in imgsToShow()"
          ng-init="myIndex = currentPage * pageSize + $index"
          class="selector-image-container"
          ng-style="{'max-width': selectorImgMaxWidth() }">
          <img  ng-src="[[img]]"
            ng-click="selectImg(myIndex)"
            ng-class="{'selected': selectedImgIndex == myIndex}"/>
        </span>
      </span>
      <a ng-show="hasNextPage()" class="selector-control right" ng-click="nextPage()">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</script>

<script type="text/ng-template" id="star-rating-template">
  <div>
    <span ng-repeat="star in [1, 2, 3, 4, 5]">
      <img ng-src="/static/img/star-[[ value >= star ? 'full' : ((star - value >= 1) ? 'empty' : 'half') ]].png"/>
    </span>
  </div>
</script>

<script type="text/ng-template" id="trip-plan-select-dropdown-template">
  <div>
    <select class="form-control" ng-model="selectedTripPlan"
      ng-options="tp['name'] for tp in tripPlanSelectOptions">
    </select>
    <div ng-if="showCreateTripPlanForm"
      class="trip-plan-select-dropdown-new-trip-plan-form">
      <div tc-start-new-trip-input on-select-place="saveNewTripPlan($tripPlanDetails)">
      </div>
    </div>
  </div>
</script>

<script type="text/ng-template" id="start-new-trip-input-template">
  <div class="start-new-trip-form">
    <div class="prompt" ng-show="!hidePrompt">
      Where are you traveling?
    </div>
    <div>
      <input type="text" class="form-control"
        placeholder="[[placeholder != undefined ? placeholder : 'e.g. Paris, Thailand, New England']]"
        ng-model="locationText"
        tc-google-place-autocomplete
        location-types="(regions)"
        on-place-change="placeChanged($newPlace)"
        tc-focus-on="ready"/>
    </div>
    <div ng-show="searching" class="search-spinner">
      <img src="/static/img/spinner-small.gif"/>
    </div>
    <div class="search-results" ng-show="searchResults">
      <div ng-repeat="result in searchResults" class="one-result" ng-click="selectResult(result)">
        <img ng-src="[[result['icon'] ]]" class="result-icon"/>
        [[result['formatted_address'] ]]
      </div>
    </div>
  </div>
</script>
